---
  import { Markdown } from '@astropub/md';

  const { budget } = Astro.props;
---

<div class="max-w-7xl mx-auto px-4 sm:px-6">
  <div class="bg-[--aw-color-grey2] text-[#ffffff] dark:bg-[--aw-color-grey9] mx-auto px-8 sm:px-20 pt-10 pb-12 mb-10 md:mb-8 text-base">
    <div class="flex flex-col md:flex-row flex-wrap gap-12">
        <div class="grow-[2] basis-0 flex flex-row flex-wrap gap-y-4 content-start">
            <h3 class="w-full text-lg">Стоимость</h3>
            <div class:list={["flex flex-col max-w-full gap-y-4 blueblock-list", budget.price.title2 ? "md:max-w-[50%] md:pr-4" : "md:max-w-full"]}>
                <h4 class="text-5xl font-heading">{budget.price.title}</h4>
                <Markdown.Inline of={budget.price.text}/>
            </div>
            
            {budget.price.title2 && (<div class="flex flex-col max-w-full md:max-w-[50%] gap-y-4 blueblock-list md:pl-4">
                <h4 class="text-5xl font-heading">{budget.price.title2}</h4>
                <Markdown.Inline of={budget.price.text2}/>
            </div>)}
            
            {budget.price.comment && (<div class="w-full"><Markdown.Inline of={budget.price.comment}/></div>)}  
            
            <div class="w-full flex flex-wrap items-center justify-between pt-4">
                     <div class="relative h-[34px] noir2-div"><a href="https://sobakapav.ru/portfolio/alfa-arm">
                        <img src="/images/clients/alfa.svg" class="h-[34px]">
                        <img src="/images/clients/alfa2.svg" class="noir2 h-[34px] absolute top-0 left-0 z-100">
                     </a></div>
                     <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/sberbank">
                        <img src="/images/clients/sberbank.svg" class="h-[26px]">
                        <img src="/images/clients/sberbank2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
                     </a></div> 
                     <div class="relative h-[26px] noir2-div"><a href="https://www.eduhund.ru/clients">
                        <img src="/images/clients/yandex.svg" class="h-[26px]">
                        <img src="/images/clients/yandex2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
                     </a></div>
                     <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/tinkoff">
                        <img src="/images/clients/tinkoff.svg" class="h-[26px]">
                        <img src="/images/clients/tinkoff2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
                     </a></div>
                     <div class="relative h-[35px] noir2-div"><a href="https://sobakapav.ru/portfolio/gazprom-neft">
                       <img src="/images/clients/gazprom.svg" class="h-[35px]">
                       <img src="/images/clients/gazprom2.svg" class="noir2 h-[35px] absolute top-0 left-0 z-100">
                     </a></div>
                     <div class="relative h-[24px] noir2-div"><a href="https://sobakapav.ru/portfolio/sportmaster">
                       <img src="/images/clients/sportmaster.svg" class="h-[24px]">
                       <img src="/images/clients/sportmaster2.svg" class="noir2 h-[24px] absolute top-0 left-0 z-100">
                     </a></div>
                     <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/avito">
                       <img src="/images/clients/avito.svg" class="h-[26px]">
                       <img src="/images/clients/avito2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
                     </a></div>
                     <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/alfastrah-design">
                       <img src="/images/clients/alfa-strah.svg" class="h-[26px]">
                       <img src="/images/clients/alfa-strah2.svg" class="noir2 h-[26px] absolute top-0 left-0">
                     </a></div>
                     <div class="relative h-[26px]"><a href="https://sobakapav.ru/portfolio/edms">
                       <img src="/images/clients/baltika.svg" class="h-[26px]">
                       <img src="/images/clients/baltika2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
                     </a></div>
                     <div class="relative h-[30px] noir2-div"><a href="https://sobakapav.ru/portfolio/yota">
                       <img src="/images/clients/yota.svg" class="h-[30px]">
                       <img src="/images/clients/yota2.svg" class="noir2 h-[30px] absolute top-0 left-0 z-100">
                     </a></div>       
                </div> 
            
        </div>
        
        <div class="grow basis-0 flex flex-col gap-y-4 blueblock-list">
            <h3 class="text-lg">Сроки</h3>
            <h4 class="text-5xl font-heading">{budget.time.title}</h4>
            <Markdown.Inline of={budget.time.text}/>
        </div>
    </div>
    
    
  </div>
  
</div>
