---
import { APP_BLOG } from "astrowind:config";

import Grid from "~/components/portfolio/PortfolioSlidingGrid.astro";
import { Icon } from 'astro-icon/components';

import { getBlogPermalink } from "~/utils/permalinks";
import { findPostsByIds } from "~/utils/blog";
import { getEntry } from 'astro:content';
import { twMerge } from "tailwind-merge";
import WidgetWrapper from "~/components/ui/WidgetWrapper.astro";
import type { Widget } from "~/types";

export interface Props extends Widget {
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  postIds: string[];
}

const {
  title = await Astro.slots.render("title"),
  linkText,
  linkUrl,
  information = await Astro.slots.render("information"),
  links = [],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render("bg"),
  collection,
  hideFields = {}
} = Astro.props;

const posts = [];
for (var item of links) {
  if (item.isSpecial) {
    posts.push(item);
  } else if (item.name) {
    const entry = await getEntry(collection, item.name);
    if (!entry) {
      console.log(`Cannot find entry ${item.name} for collection ${collection}`);
    }
    const data = JSON.parse(JSON.stringify(entry.data));
    if (item.text) {
      data.excerpt = item.text;
    }
    data.href = `/${collection}/${item.name}`;
    posts.push(data);
  }
}
---

{
  APP_BLOG.isEnabled ? (
    <WidgetWrapper id={id} isDark={isDark} containerClass={classes?.container as string} bg={bg}>
      <div class="flex flex-col lg:justify-between lg:flex-row mb-6">
        {title && (
          <div>
            {APP_BLOG.list.isEnabled && linkText && linkUrl && (
                <a
                  class="flex gap-2 items-end text-[--aw-color-hund] no-underline hover:underline underline-offset-2 text-sm mb-5 tracking-wide font-semibold"
                  href={linkUrl}
                >
                  {linkText}
                  {/*<Icon name="tabler:chevron-right" class="w-5 h-5 mr-1 -ml-1.5 rtl:-mr-1.5 rtl:ml-1" />*/}
                </a>
              )}
            <h2
              class={twMerge('text-5xl group font-heading mb-2', classes?.heading)}
              set:html={title}
            />
            
          </div>
        )}

        {information && <p class="text-muted dark:text-slate-400 lg:text-sm lg:max-w-md" set:html={information} />}
      </div>

      <Grid posts={posts} hideFields={hideFields} classes="flex-row justify-normal gap-4" />
      <div class="flex justify-end">
      <div class="bg-[--aw-color-grey8] color-[--aw-color-grey1] hover:text-[--aw-color-hund] px-5 py-[10px] max-w-[167px]">
        <a href="https://sobakapav.ru/portfolio">Все проекты →</a>
      </div>
      </div>
    </WidgetWrapper>
  ) : (
    <Fragment />
  )
}
