---

import { $id } from '~/utils/utils.ts';
import { twMerge } from 'tailwind-merge';

import './SimpleContentSlider.less';

const {
  mode='basic', 
  title,
  blockTitles = [],
  block1 = await Astro.slots.render('block1'),
  block2 = await Astro.slots.render('block2'),
  block3 = await Astro.slots.render('block3'),
  block4 = await Astro.slots.render('block4'),
  classes = {},
} = Astro.props;

if (blockTitles.length != 4 || !block1 || !block2 || !block3 || !block4) {
  console.error('Должно быть 4 слайда');
}

const id = $id('simple-slider');

const listOnLeft = (mode === 'mode-2');

---

<script>
function scrollScroller(element, delta) {
  var radios = element.parentElement.parentElement.parentElement.querySelectorAll(".slides > input[type='radio']");
  var selected = 0;
  for (var i = 0; i < radios.length; i++) {
    var radio = radios[i];
    if (radio.checked) {
      selected = i;
    }
  }
  radios[(selected + radios.length + delta) % radios.length].checked = true;
}

window.addEventListener("load", (event) => {
  document.getElementById('simple-slider-button-left').addEventListener("click", (event) => {
    scrollScroller(event.target, -1);
  });
  document.getElementById('simple-slider-button-right').addEventListener("click", (event) => {
    scrollScroller(event.target, 1);
  });
});
</script>

<simple-slider class:list={['flex flex-col max-w-7xl mx-auto px-4 sm:px-6 gap-6', mode, listOnLeft ? '' : 'my-10 md:my-12', classes.main]}>
  { title && (
    <h2 class="text-5xl group font-heading whitespace-nowrap mb-[-48]">{title}</h2>
  )}
  <div class:list={['flex flex-col slider-container lg:gap-6', listOnLeft ? 'lg:flex-row-reverse lg:justify-end' : 'lg:flex-row']}>
      <div class:list={['slider slider-ux slider-desktop relative', listOnLeft ? '' : 'lg:pt-12']}>
        <div class="slides">
          <input type="radio" name={id+'-desktop'} id={id+'-ux1'} class="desktop ux1" checked>
          <input type="radio" name={id+'-desktop'} id={id+'-ux2'} class="desktop ux2">
          <input type="radio" name={id+'-desktop'} id={id+'-ux3'} class="desktop ux3">
          <input type="radio" name={id+'-desktop'} id={id+'-ux4'} class="desktop ux4">
          
      
          <div class={twMerge("slide s1", classes.slide)}>
            <div class={classes.slideContent} set:html={block1} />
          </div>
          <div class={twMerge("slide", classes.slide)}>
            <div class={classes.slideContent} set:html={block2} />
          </div>
          <div class={twMerge("slide", classes.slide)}>
            <div class={classes.slideContent} set:html={block3} />
          </div>
          <div class={twMerge("slide", classes.slide)}>
            <div class={classes.slideContent} set:html={block4} />
          </div>
        </div>
        
        <div class="navigation">
          <label for={id+'-ux1'} class="bar"></label>
          <label for={id+'-ux2'} class="bar"></label>
          <label for={id+'-ux3'} class="bar"></label>
          <label for={id+'-ux4'} class="bar"></label>
          
        </div>
        
        <div class="slider-buttons absolute left-5 right-5 bottom-5 flex transform justify-between z-[5]">
          <a class="slider-button slider-button-left btn btn-circle bg-white text-black" id="simple-slider-button-left">
            ❮
          </a>
          <a class="slider-button slider-button-right btn btn-circle bg-white text-black" id="simple-slider-button-right">
            ❯ 
          </a>
        </div>
      </div>
      
      <div class:list={['w-full flex flex-col slider-details', listOnLeft ? 'lg:w-[338px]' : 'lg:w-[440px] pt-12']}>
        
        <label for={id+'-ux1'} class="details-slide details-slide-1 flex flex-col p-6 cursor-pointer ">
          <h3 class="text-lg sm:text-3xl font-heading">{blockTitles[0].title}</h3>
          <div class="details-slide-details">
            {blockTitles[0].text}
          </div>
        </label>
        <label for={id+'-ux2'} class="details-slide details-slide-2 flex flex-col p-6 cursor-pointer">
          <h3 class="text-lg sm:text-3xl font-heading">{blockTitles[1].title}</h3>
          <div class="details-slide-details">
            {blockTitles[1].text}
          </div>
        </label>
        <label for={id+'-ux3'} class="details-slide details-slide-3 flex flex-col p-6 cursor-pointer">
          <h3 class="text-lg sm:text-3xl font-heading">{blockTitles[2].title}</h3>
          <div class="details-slide-details">
            {blockTitles[2].text}
          </div>
        </label>
        <label for={id+'-ux4'} class="details-slide details-slide-4 flex flex-col p-6 cursor-pointer">
          <h3 class="text-lg sm:text-3xl font-heading">{blockTitles[3].title}</h3>
          <div class="details-slide-details">
            {blockTitles[3].text}
          </div>
        </label>
        
      </div>
  </div>
</simple-slider>
