---

import './SimpleContentSlider.less';

const {
  mode='basic', 
  title,
  blockTitles = [],
  block1 = await Astro.slots.render('block1'),
  block2 = await Astro.slots.render('block2'),
  block3 = await Astro.slots.render('block3'),
  block4 = await Astro.slots.render('block4'),
} = Astro.props;

if (blockTitles.length != 4 || !block1 || !block2 || !block3 || !block4) {
  console.error('Должно быть 4 слайда');
}

const listOnLeft = (mode === 'mode-2');

---

<script>
function scrollScroller(element, delta) {
  var radios = element.parentElement.parentElement.parentElement.querySelectorAll(".slides > input[type='radio']");
  var selected = 0;
  for (var i = 0; i < radios.length; i++) {
    var radio = radios[i];
    if (radio.checked) {
      selected = i;
    }
  }
  radios[(selected + radios.length + delta) % radios.length].checked = true;
}

window.addEventListener("load", (event) => {
  document.getElementById('simple-slider-button-left').addEventListener("click", (event) => {
    scrollScroller(event.target, -1);
  });
  document.getElementById('simple-slider-button-right').addEventListener("click", (event) => {
    scrollScroller(event.target, 1);
  });
});
</script>

<simple-slider class:list={['flex flex-col max-w-7xl mx-auto px-4 sm:px-6 gap-6', mode, listOnLeft ? '' : 'my-10 md:my-12']}>
  { title && (
    <h2 class="text-5xl group font-heading whitespace-nowrap mb-[-48]">${title}</h2>
  )}
  <div class:list={['flex flex-col slider-container lg:gap-6', listOnLeft ? 'lg:flex-row-reverse lg:justify-end' : 'lg:flex-row']}>
      <div class:list={['slider slider-ux slider-desktop relative', listOnLeft ? '' : 'lg:pt-12']}>
        <div class="slides">
          <input type="radio" name="desktop" id="ux1" checked>
          <input type="radio" name="desktop" id="ux2">
          <input type="radio" name="desktop" id="ux3">
          <input type="radio" name="desktop" id="ux4">
          
      
          <div class="slide s1">
            {block1}
          </div>
          <div class="slide">
            {block2}
          </div>
          <div class="slide">
            {block3}
          </div>
          <div class="slide">
            {block4}
          </div>
        </div>
        
        <div class="navigation">
          <label for="ux1" class="bar"></label>
          <label for="ux2" class="bar"></label>
          <label for="ux3" class="bar"></label>
          <label for="ux4" class="bar"></label>
          
        </div>
        
        <div class="slider-buttons">
          <button class="slider-button slider-button-left" id="simple-slider-button-left">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.04126 10L14.8366 19.1343C15.0386 19.3226 15.0496 19.639 14.8613 19.841C14.673 20.043 14.3566 20.054 14.1546 19.8657L3.96955 10.368C3.86346 10.269 3.81005 10.1348 3.81055 10.0003C3.80989 9.86564 3.8633 9.73112 3.96955 9.63204L14.1546 0.134327C14.3566 -0.0540041 14.673 -0.0429559 14.8613 0.159005C15.0496 0.360965 15.0386 0.677359 14.8366 0.865689L5.04126 10Z" fill="black"/>
            </svg> 
          </button>
          <button class="slider-button slider-button-right" id="simple-slider-button-right">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.9544 10L5.159 0.865689C4.95704 0.677358 4.946 0.360965 5.13433 0.159005C5.32266 -0.0429555 5.63905 -0.0540043 5.84101 0.134327L16.0261 9.63204C16.1322 9.73097 16.1856 9.86524 16.1851 9.9997C16.1857 10.1344 16.1323 10.2689 16.0261 10.368L5.84101 19.8657C5.63905 20.054 5.32266 20.043 5.13433 19.841C4.946 19.639 4.95705 19.3226 5.15901 19.1343L14.9544 10Z" fill="black"/>
            </svg> 
          </button>
        </div>
      </div>
      
      <div class:list={[listOnLeft ? 'w-[338px]' : 'w-[440px] pt-12']}>
        
        <label for="ux1" class="details-slide details-slide-1 flex flex-col p-6 cursor-pointer">
          <h3 class="text-lg sm:text-3xl font-heading">{slides[0].title}</h3>
          <div class="details-slide-details">
            {blockTitles[0]}
          </div>
        </label>
        <label for="ux2" class="details-slide details-slide-2 flex flex-col p-6 cursor-pointer">
          <h3 class="text-lg sm:text-3xl font-heading">{slides[1].title}</h3>
          <div class="details-slide-details">
            {blockTitles[1]}
          </div>
        </label>
        <label for="ux3" class="details-slide details-slide-3 flex flex-col p-6 cursor-pointer">
          <h3 class="text-lg sm:text-3xl font-heading">{slides[2].title}</h3>
          <div class="details-slide-details">
            {blockTitles[2]}
          </div>
        </label>
        <label for="ux4" class="details-slide details-slide-4 flex flex-col p-6 cursor-pointer">
          <h3 class="text-lg sm:text-3xl font-heading">{slides[3].title}</h3>
          <div class="details-slide-details">
            {blockTitles[3]}
          </div>
        </label>
        
      </div>
  </div>
</simple-slider>
