---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import { getCollection } from 'astro:content';
import merge from 'lodash.merge';
import type { ImageMetadata } from 'astro';
import { Markdown } from '@astropub/md';

import { defaultTools } from '~/navigation';

import Layout from '~/layouts/PageLayout.astro';
import SinglePost from '~/components/blog/SinglePost.astro';
import ToBlogLink from '~/components/blog/ToBlogLink.astro';

import Image from '~/components/common/Image.astro';
import PostTags from '~/components/blog/Tags.astro';
import RelatedLinks from '~/components/services/RelatedLinks.astro';
import ContentAndImage from '~/components/services/ContentAndImage.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Features4 from '~/components/widgets/Features4.astro';
import FeaturesHex from '~/components/widgets/FeaturesHex.astro';
import SimpleSlider from '~/components/services/SimpleSlider.astro';
import Bentoid from '~/components/services/Bentoid.astro';
import FinalBlock from '~/components/services/FinalBlock.astro';
import UniversalSlider from '~/components/common/UniversalSlider.astro'
import ReviewItem from '~/components/portfolio/ReviewItem.astro';


import Hund2 from '~/components/widgets/Hund2.astro';

import { getCanonical, getPermalink } from '~/utils/permalinks';
import { getStaticPathsBlogPost, blogPostRobots } from '~/utils/blog';
import { findImage } from '~/utils/images';
import type { MetaData } from '~/types';
import RelatedPosts from '~/components/blog/RelatedPosts.astro';
import Bread from '~/components/widgets/Bread.astro';

import BlueBlock from '~/components/services/BlueBlock.astro';
import Budget from '~/components/services/Budget.astro';
import SimpleSlider from '~/components/services/SimpleSlider.astro';

export const prerender = true;

export async function getStaticPaths() {
  const services = await getCollection('services');
  return services.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const post = entry.data;
const { Content } = await entry.render();

const url = getCanonical(getPermalink(post.permalink, 'post'));
const image = (await findImage(post.image)) as ImageMetadata | string | undefined;

const notThisService = post.notThisService?.items?.map((item) => ({title: item.title, description: item.text}));

const myNavigation = [];
defaultTools.forEach((item, index) => {
  if (post?.tools && post.tools[index] && !post.tools[index].isDefault) {
    myNavigation.push(post.tools[index]);
  } else {
    myNavigation.push(item);
  }
}); 
console.log(JSON.stringify(myNavigation));

const metadata = merge(
  {
    title: post.title,
    description: post.description || post.excerpt,
    robots: {
      index: true,
      follow: true,
    },
    openGraph: {
      type: 'article',
      ...post.metadata.openGraph,
    },
  },
  { ...(post?.metadata ? { ...post.metadata, canonical: post.metadata?.canonical || url } : {}) }
) as MetaData;
---

<Layout metadata={metadata} hasSlider={true}>
  <Bread
    title={post.title}
    parent={post.folder.link}
    parentTitle={post.folder.name}
  />
    
    <section class="py-0 mx-auto grow-0 shrink-0">
      <article>
       
        <Hund2
          image={{
            src: post.image,
            alt: post.imageAlt || '',
          }}
          imageSafari={post.image2 && {
            src: post.image2,
            alt: post.imageAlt || '',
          }}
          imageName={post.imageName}
          hyphenateTitle={post.hyphenateTitle}
        >
          <Fragment slot="title">
            <Markdown.Inline of={post.title} />
          </Fragment>
        
          <Fragment slot="supertitle">
            <a href="/services" class="text-[--aw-color-hund] no-underline hover:underline underline-offset-2 tracking-wide font-semibold">← ВСЕ УСЛУГИ</a>
          </Fragment>
          
          <Fragment slot="subtitle">
            <Markdown.Inline of={post.excerpt} />
          </Fragment>
          
        </Hund2>
        
        <div class="flex flex-row flex-wrap text-base gap-2.5 mt-10 px-4 md:px-6 mx-auto max-w-7xl text-[#9F9F9F]">
          <span>
            <a href="#1" class="underline underline-offset-2">Потребности</a>
          </span><span> • </span>
          
          <span>
            <a href="#2" class="underline underline-offset-2">Примеры</a>
          </span><span> • </span>
          
          <span>
            <a href="#3" class="underline underline-offset-2">Результат</a>
          </span><span> • </span>
          
          <span>
            <a href="#4" class="underline underline-offset-2">Оценка</a>
          </span><span> • </span>
          
          <span>
            <a href="#5" class="underline underline-offset-2">Особенности</a>
          </span><span> • </span>
                    
          <span>
            <a href="#6" class="underline underline-offset-2">Процесс</a>
          </span><span> • </span>
          
          <span>
            <a href="#7" class="underline underline-offset-2">Сроки и стоимость</a>
          </span>
            
        </div>
        
        <a id="1"></a>
        
        {post.when && (
            <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-8 md:mb-8 mt-5 sm:mt-20 flex flex-col gap-6">
              <div class="text-sm text-[--aw-color-hund] tracking-wide font-semibold">ПОТРЕБНОСТИ</div>
              <FeaturesHex
                title={post.when.title}
                items={ post.when?.items?.map((item) => ({title: item.title, description: item.text, details: item.details})) }
              />
            </div>
        )}
          
        <a id="2"></a>
        
        <RelatedLinks post={post} />
        
        <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-20 flex flex-col gap-6">
          <UniversalSlider count={2} styles={{main: 'review-slider full-width', button: 'bg-white text-black hover:bg-transparent hover:text-white'}} buttonsPosition="bottom">
            {post.reviews && post.reviews.map(review => (
              <div class="review-card-odd">
                <a href={review.link}>
                <ReviewItem
                  text={review.text}
                  person={review.person}
                  position={review.position}
                  photo={review.photo}
                  styles={{heading: 'sm:text-3xl xl:text-3xl mb-4', signature: 'font-semibold text-lg', main: 'text-lg mb-6'}}
                  photoPosition="bottom"
                />
                </a>
                <div class="flex items-center justify-start mb-10">
                  <a class="noir2-div relative" href={review.link}>
                    <img src={review.logo.link} width={review.logo.width || '80'}  height={review.logo.height || '40'} >
                  </a>
                </div>
              </div>
            ))}
          </UniversalSlider>
        </div>
        
        <a id="3"></a>
        
        <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-8 flex flex-col gap-6">
          <div class="text-sm text-[--aw-color-hund] tracking-wide font-semibold">РЕЗУЛЬТАТ</div>
          <h2 class="text-7xl group font-heading">Что вы получите</h2>
          <div class="flex flex-col sm:flex-row gap-14">
           
            <div class="flex flex-col md:flex-row gap-12">
              
              {post.results && (
                <div class="max-w-4xl mx-auto flex flex-col gap-6">
                  <Features3
                    columns={3}
                    items={ post.results?.map((item) => ({title: item.title, description: item.text})) }
                    classes={}
                    defaultIcon="tabler:circle-check-filled"
                  />
                  
                </div>
              )}
              <div>
                <span>Инструменты, с помощью которых мы добиваемся результата</span>
                <div class="flex flex-row gap-6 mt-6">
                  { myNavigation.map(item => (
                    <a class="basis-0 grow flex flex-col items-center underline underline-offset-2 " href={item.link}><div class="h-14"><Image src={item.image} height={48} layout="constrained-height" alt={item.title} /></div>{item.title}</a>
                  ))}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-20 flex flex-col gap-6">
          <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col gap-4 bg-[#E7EAEA] dark:bg-[--aw-color-bg-accent] p-8 sm:p-6 grow basis-0">
              <h2 class="text-5xl group font-heading">Экстра-польза</h2>
              <div class="flex flex-col blue-check-list gap-4">
                <Markdown.Inline of={post.extra} />                
              </div>
            </div>
            <div class="flex flex-col gap-4 bg-[#E7EAEA] dark:bg-[--aw-color-bg-accent] p-8 sm:p-6 grow basis-0">
              <h2 class="text-5xl group font-heading">Эффект в деньгах</h2>
              <div class="flex flex-col blue-check-list gap-4">
                <Markdown.Inline of={post.roi} />                
              </div>
            </div>
          </div>
        </div>
        
        <a id="4"></a>

        {post.notThisService && (
          <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-8 md:mb-8 flex flex-col gap-6">
            <div class="text-sm text-[--aw-color-hund] tracking-wide font-semibold">ОЦЕНКА</div>
            <h2 class="text-5xl group font-heading">{post.notThisService.title}</h2>
            <Features3
              columns={3}
              items={ notThisService }
              classes={}
              defaultIcon="tabler:circle-check-filled"
            />
          </div>
        )}
        
        <a id="5"></a>       
        
        {post.comments && (
            <SimpleSlider slides={post.comments}/>
         )}
       
        <a id="6"></a>
        
        {post.mapBlock && (
          <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-8 md:mb-8 flex flex-col gap-6">
            <div class="text-sm text-[--aw-color-hund] tracking-wide font-semibold">ПРОЦЕСС</div>
            <h2 class="text-5xl group font-heading">{post.mapBlock.title}</h2>
            <Features4
              columns={post.mapBlock.columns}
              items={ post.mapBlock?.items?.map((item) => ({title: item.title, subtitle: item.time, description: item.text})) }
              classes={}
              defaultIcon="tabler:circle-check-filled"
            />
          </div>
        )}
        
        <a id="7"></a>
        
        <BlueBlock budget={post.budget} />
        
      </article>
    </section>
  
</Layout>
