---
import { Markdown } from '@astropub/md';

import CommonCard from '~/components/common/CommonCard.astro';
import DoubleCard from '~/components/common/DoubleCard.astro';
import PortfolioTags from '~/components/portfolio/ProtfolioTags.astro';

import { findImage } from '~/utils/images';

const { post, mode="single" } = Astro.props; 
const image = (await findImage(post.thumbnail?.src)) as ImageMetadata | undefined;
const imageLarge = (await findImage(post.thumbnail?.src2)) as ImageMetadata | undefined;

---
{mode == "single" ? (

  <CommonCard 
    image={image} 
    link={post.external ? post.externalLink : post.href} 
    title={post.title}
    text={post.excerpt}
    noCard={post.noCard}
  >
    <Fragment slot="footer">
    <PortfolioTags tags={post.tags} />
      <span class="flex flex-row text-xl sm:text-3xl leading-tight font-heading text-[--aw-color-hund] gap-4">
        {post.publishYear}
        {post.awards && post.awards.map(award => (
          <div class="w-20 h-20"><Markdown.Inline of={award} /></div>
        ))}
      </span>
    </Fragment>
    
  </CommonCard>
) : (
   <DoubleCard 
     image={image} 
     imageLarge={imageLarge}
     link={post.external ? post.externalLink : post.href} 
     title={post.title}
     text={post.excerpt}
     isDark={post.thumbnail.isDark}
   >
     <Fragment slot="footer">
      <PortfolioTags tags={post.tags} />
      <span class="text-xl sm:text-3xl leading-tight font-heading text-[--aw-color-hund]">
        {post.publishYear}
      </span>
       
     </Fragment>
     
   </DoubleCard>
)}
