---

import { Markdown } from '@astropub/md';
import Image from '~/components/common/Image.astro';
import ReviewItem from './ReviewItem.astro';

const { post } = Astro.props;

---

<div class="max-w-7xl mx-auto px-4 sm:px-6 mt-8 md:mt-14">
  <div class="bg-[#323232] text-[#ffffff] mx-auto px-8 sm:px-12 pt-10 pb-12 mb-10 md:mb-8 text-base">
    <div class="flex flex-col md:flex-row flex-wrap gap-10">
      { post.review && (
        <div class="grow basis-0 flex flex-col gap-y-2 content-start">
          <ReviewItem
            title="Отзыв заказчика"
            text={post.review.text}
            photo={post.review.photo}
            person={post.review.person}
            position={post.review.position}
          />
        </div>
      )}
      
      <div class="grow basis-0 flex flex-col gap-y-2 content-start mb-4">
        { post.director && (
          <ReviewItem
            title="Слово директора"
            text={post.director}
            photo="~/assets/images/portfolio/np.png"
            person="Наталья Прокофьева"
            position="директор «Собаки Павловой»"
          />
        )}
        <div class="flex flex-row justify-between max-w-2xl">
          <div><h3 class="mb-1 text-base">Цена</h3><span class="mb-1 text-xl sm:text-4xl font-heading">{post.budget}</span></div>
          <div><h3 class="mb-1 text-base">Сроки</h3><span class="mb-1 text-xl sm:text-4xl font-heading">{post.time}</span></div>
        
          <div>
            <h3 class="mb-1 text-base">Результат</h3>
            {post.result?.map((res) => (
              <a class="flex flex-row items-center gap-1 mb-2 text-[#ffffff]" href={res.link}>
                <div class="grow-0 shrink-0 basis-[30px]"><Image src={res.src} alt="Figma logo" height={40} width={30}/></div>
                <div class="grow shrink basis-0">{res.text}</div>
              </a>
            ))}
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
