---

import { Markdown } from '@astropub/md';
import Image from '~/components/common/Image.astro';
import ReviewItem from './ReviewItem.astro';
import '~/components/portfolio/Review.less';

const { post } = Astro.props;

---

<div class="px-4 sm:px-6 mt-8 md:mt-14 review">
  <div class="bg-[--aw-color-grey2] text-[#ffffff] dark:bg-[--aw-color-grey9] mx-auto px-8 sm:px-12 py-8 sm:py-12 mb-10 md:mb-8 text-base">
    <div class:list={["flex flex-col lg:flex-row flex-wrap gap-10", (post.review && (post.director || post.review2)) ? "" : "items-end"]}">
      { (post.review || post.director || post.review2) ? (
        post.review && (
          <div class="grow basis-0 flex flex-col gap-y-6 content-start">
            <ReviewItem
              title="Отзыв заказчика"
              text={post.review.text}
              photo={post.review.photo}
              person={post.review.person}
              position={post.review.position}
            />
          </div>
        )
      ) : (
        <div class="grow basis-0 flex flex-wrap items-center justify-between pt-4 gap-4">
           <div class="relative h-[34px] noir2-div"><a href="https://sobakapav.ru/portfolio/alfa-arm">
              <img src="/images/clients/alfa.svg" class="h-[34px]">
              <img src="/images/clients/alfa2.svg" class="noir2 h-[34px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/sberbank">
              <img src="/images/clients/sberbank.svg" class="h-[26px]">
              <img src="/images/clients/sberbank2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
           </a></div> 
           <div class="relative h-[26px] noir2-div"><a href="https://www.eduhund.ru/clients">
              <img src="/images/clients/yandex.svg" class="h-[26px]">
              <img src="/images/clients/yandex2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/tinkoff">
              <img src="/images/clients/tinkoff.svg" class="h-[26px]">
              <img src="/images/clients/tinkoff2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[35px] noir2-div"><a href="https://sobakapav.ru/portfolio/gazprom-neft">
             <img src="/images/clients/gazprom.svg" class="h-[35px]">
             <img src="/images/clients/gazprom2.svg" class="noir2 h-[35px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[24px] noir2-div"><a href="https://sobakapav.ru/portfolio/sportmaster">
             <img src="/images/clients/sportmaster.svg" class="h-[24px]">
             <img src="/images/clients/sportmaster2.svg" class="noir2 h-[24px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/avito">
             <img src="/images/clients/avito.svg" class="h-[26px]">
             <img src="/images/clients/avito2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/alfastrah-design">
             <img src="/images/clients/alfa-strah.svg" class="h-[26px]">
             <img src="/images/clients/alfa-strah2.svg" class="noir2 h-[26px] absolute top-0 left-0">
           </a></div>
           <div class="relative h-[26px]"><a href="https://sobakapav.ru/portfolio/edms">
             <img src="/images/clients/baltika.svg" class="h-[26px]">
             <img src="/images/clients/baltika2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[30px] noir2-div"><a href="https://sobakapav.ru/portfolio/yota">
             <img src="/images/clients/yota.svg" class="h-[30px]">
             <img src="/images/clients/yota2.svg" class="noir2 h-[30px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[30px] noir2-div"><a href="https://sobakapav.ru/portfolio/t1">
             <img src="/images/clients/t1.svg" class="h-[30px]">
             <img src="/images/clients/t1-2.svg" class="noir2 h-[30px] absolute top-0 left-0 z-100">
           </a></div>       
      </div> 
      )}
      
      <div class:list={["grow basis-0 flex gap-y-6 content-start justify-between", post.review ? "flex-col" : "flex-col md:flex-row gap-6"]}>
        { post.review2 && (
          <div class:list={["white-links flex flex-col gap-y-6 mt-[52px]", post.review ? "" : "md:basis-0 md:grow"]}>
            <ReviewItem
              text={post.review2.text}
              photo={post.review2.photo}
              person={post.review2.person}
              position={post.review2.position}
            />
          </div>
        )}
        { post.director && !post.review2 && (
          <div class:list={["white-links flex flex-col gap-y-6", post.review ? "" : "md:basis-0 md:grow"]}>
            <ReviewItem
              title="Слово директора"
              text={post.director}
              photo="~/assets/images/portfolio/np.png"
              person="Наталья Прокофьева"
              position="директор «Собаки Павловой»"
            />
          </div>
        )}
        <div class:list={["flex flex-row justify-between max-w-2xl mb-6", post.review ? "" : "md:basis-0 md:grow", (post.review && post.director) ? "" : "flex-wrap items-end content-end"]}>
          <div class="flex grow flex-nowrap">
            <div class="basis-0 grow"><h3 class="mb-1 text-base">Цена</h3><span class="mb-1 text-xl sm:text-4xl font-heading">{post.budget}</span></div>
            {post.time && (<div class="basis-0 grow"><h3 class="mb-1 text-base">Сроки</h3><span class="mb-1 text-xl sm:text-4xl font-heading">{post.time}</span></div>)}
            
            <div class="basis-0 grow">
              <h3 class="mb-1 text-base">Результат</h3>
              {post.result?.map((res) => (
              <div class="format-subtitle-markdown white-links flex flex-row flex-nowrap">
                <a href={res.link} class="flex flex-row items-center gap-1 mb-2 text-[#ffffff]">
                  {res.src && (
                    <div class="grow-0 shrink-0 basis-[30px]"><Image src={res.src} alt="Figma logo" height={40} width={30}/></div>
                  )}
                  <div class="grow shrink basis-0"> <Markdown.Inline of={res.text}/></div>
                </a>
              </div>
              ))}
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
