---

import { Markdown } from '@astropub/md';
import Image from '~/components/common/Image.astro';
import ReviewItem from './ReviewItem.astro';

const { post } = Astro.props;

---

<div class="max-w-7xl mx-auto px-4 sm:px-6 mt-8 md:mt-14">
  <div class="bg-[#323232] text-[#ffffff] dark:bg-[--aw-color-accent] mx-auto px-8 sm:px-12 py-8 sm:py-12 mb-10 md:mb-8 text-base">
    <div class="flex flex-col md:flex-row flex-wrap gap-10">
      { post.review ? (
        <div class="grow basis-0 flex flex-col gap-y-6 content-start">
          <ReviewItem
            title="Отзыв заказчика"
            text={post.review.text}
            photo={post.review.photo}
            person={post.review.person}
            position={post.review.position}
          />
        </div>
      ) : (
        <div class="grow basis-0 flex flex-wrap items-center justify-between pt-4 gap-4">
           <div class="relative h-[34px] noir2-div"><a href="https://sobakapav.ru/portfolio/alfa-arm">
              <img src="/images/services/alfa.svg" class="h-[34px]">
              <img src="/images/services/alfa2.svg" class="noir2 h-[34px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/sberbank">
              <img src="/images/services/sberbank.svg" class="h-[26px]">
              <img src="/images/services/sberbank2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
           </a></div> 
           <div class="relative h-[26px] noir2-div"><a href="https://www.eduhund.ru/clients">
              <img src="/images/services/yandex.svg" class="h-[26px]">
              <img src="/images/services/yandex2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/tinkoff">
              <img src="/images/services/tinkoff.svg" class="h-[26px]">
              <img src="/images/services/tinkoff2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[35px] noir2-div"><a href="https://sobakapav.ru/portfolio/gazprom-neft">
             <img src="/images/services/gazprom.svg" class="h-[35px]">
             <img src="/images/services/gazprom2.svg" class="noir2 h-[35px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[24px] noir2-div"><a href="https://sobakapav.ru/portfolio/sportmaster">
             <img src="/images/services/sportmaster.svg" class="h-[24px]">
             <img src="/images/services/sportmaster2.svg" class="noir2 h-[24px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/avito">
             <img src="/images/services/avito.svg" class="h-[26px]">
             <img src="/images/services/avito2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[26px] noir2-div"><a href="https://sobakapav.ru/portfolio/alfastrah-design">
             <img src="/images/services/alfa-strah.svg" class="h-[26px]">
             <img src="/images/services/alfa-strah2.svg" class="noir2 h-[26px] absolute top-0 left-0">
           </a></div>
           <div class="relative h-[26px]"><a href="https://sobakapav.ru/portfolio/edms">
             <img src="/images/services/baltika.svg" class="h-[26px]">
             <img src="/images/services/baltika2.svg" class="noir2 h-[26px] absolute top-0 left-0 z-100">
           </a></div>
           <div class="relative h-[30px] noir2-div"><a href="https://sobakapav.ru/microcases/Yota">
             <img src="/images/services/yota.svg" class="h-[30px]">
             <img src="/images/services/yota2.svg" class="noir2 h-[30px] absolute top-0 left-0 z-100">
           </a></div>       
      </div> 
      )}
      
      <div class="grow basis-0 flex flex-col gap-y-6 content-start">
        { post.director && (
          <ReviewItem
            title="Слово директора"
            text={post.director}
            photo="~/assets/images/portfolio/np.png"
            person="Наталья Прокофьева"
            position="директор «Собаки Павловой»"
          />
        )}
        <div class="flex flex-row justify-between max-w-2xl">
          <div class="basis-0 grow"><h3 class="mb-1 text-base">Цена</h3><span class="mb-1 text-xl sm:text-4xl font-heading">{post.budget}</span></div>
          <div class="basis-0 grow"><h3 class="mb-1 text-base">Сроки</h3><span class="mb-1 text-xl sm:text-4xl font-heading">{post.time}</span></div>
          
          <div class="basis-0 grow">
            <h3 class="mb-1 text-base">Результат</h3>
            {post.result?.map((res) => (
            <div class="format-subtitle-markdown white-links">
              {res.link ? (
                <a class="flex flex-row items-center gap-1 mb-2" href={res.link}>
                  <div class="grow-0 shrink-0 basis-[30px]"><Image src={res.src} alt="Figma logo" height={40} width={30}/></div>
                  <div class="grow shrink basis-0"> <Markdown.Inline of={res.text}/></div>
                </a>
              ) : (
                <div class="flex flex-row items-center gap-1 mb-2 text-[#ffffff]">
                  <div class="grow-0 shrink-0 basis-[30px]"><Image src={res.src} alt="Figma logo" height={40} width={30}/></div>
                  <div class="grow shrink basis-0"> <Markdown.Inline of={res.text}/></div>
                </div>
              )}
            </div>
            ))}
          </div>
         
        </div>
      </div>
    </div>
    
  </div>
  
</div>
