---

import { Markdown } from '@astropub/md';
import Image from '~/components/common/Image.astro';
import ReviewItem from './ReviewItem.astro';

const { post } = Astro.props;

---

<div class="max-w-7xl mx-auto px-4 sm:px-6">
  <div class="bg-[#323232] text-[#ffffff] mx-auto px-8 sm:px-20 pt-10 pb-12 mb-10 md:mb-8 text-base">
    <div class="flex flex-col md:flex-row flex-wrap gap-16">
      { post.review && (
        <div class="grow basis-0 flex flex-col gap-y-2 content-start">
          <ReviewItem
            title="Отзыв заказчика"
            text={post.review.text}
            photo={post.review.photo}
            person={post.review.person}
            position={post.review.position}
          />
        </div>
      )}
      
      <div class="grow basis-0 flex flex-col gap-y-2 content-start">
        { post.director && (
          <ReviewItem
            title="Слово директора"
            text={post.director}
            photo="~/assets/images/portfolio/np.png"
            person="Наталья Прокофьева"
            position="директор «Собаки Павловой»"
          />
        )}
        <div class="flex flex-row justify-between">
          <div>
            <h3 class="mb-1 text-xl sm:text-2xl font-heading">Результат</h3>
            {post.result?.map((res) => (
              <a class="flex flex-row items-center text-lg gap-1" href={res.link}><Image src={res.src} alt="Figma logo" height={20} width={15}/>{res.text}</a>
            ))}
          </div>
          <div class="text-lg"><h3 class="mb-1 text-xl sm:text-2xl font-heading">Цена</h3>{post.budget}</div>
          <div class="text-lg"><h3 class="mb-1 text-xl sm:text-2xl font-heading">Сроки</h3>{post.time}</div>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
