---
import { Icon } from 'astro-icon/components';

import Image from '~/components/common/Image.astro';
import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';
import { Markdown } from '@astropub/md';
import Hero2 from '~/components/widgets/Hero2.astro';
import RelatedPages from '~/components/portfolio/RelatedPages.astro';
import RelatedLinks from '~/components/portfolio/RelatedLinks.astro';
import Review from '~/components/portfolio/Review.astro';
import Number from '~/components/portfolio/Number.astro';

import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate, minuteCase } from '~/utils/utils';

import type { Post } from '~/types';

export interface Props {
  post: Post;
  url: string | URL;
}

const { post, url } = Astro.props;
const { Content } = post;
---

<section class="py-0 mx-auto grow-0 shrink-0">
  <article>
  
    <Hero2
      title={post.title}
      image={{
        src: post.image,
        alt: post.imageAlt || '',
      }}
      imageName={post.imageName}
    >
      
      <Fragment slot="subtitle">
        <Markdown.Inline of={post.excerpt} />
      </Fragment>
      
      <Fragment slot="result">           
        <div class="flex flex-col sm:flex-row justify-between mt-8 mb-8 mx-auto md:mx-0 lg:mx-auto">
          
          <div class="basis-0 grow"><h3 class="mb-1 text-base">Цена</h3><span class="mb-1 text-xl sm:text-4xl font-heading">{post.budget}</span></div>
          {post.time && (<div class="basis-0 grow"><h3 class="mb-1 text-base">Сроки</h3><span class="mb-1 text-xl sm:text-4xl font-heading">{post.time}</span></div>)}
        
          <div class="basis-0 grow">
            <h3 class="mb-1 text-base">Результат</h3>
            {post.result?.map((res) => (
            <div class="format-subtitle-markdown">
              <a href={res.link} class="flex flex-row items-center gap-1 mb-2">
                {res.src && (
                  <div class="grow-0 shrink-0 basis-[30px]"><Image src={res.src} alt="Figma logo" height={40} width={30}/></div>
                )}
                <div class="grow shrink basis-0"> <Markdown.Inline of={res.text}/></div>
              </a>
            </div>
            ))}
          </div> 
        </div> 
      </Fragment>
    
      <Fragment slot="supertitle">
        <div class="flex justify-between flex-col sm:flex-row max-w-3xl mx-auto md:mx-0 lg:mx-auto mt-0 mb-2">
          <p class="text-xl sm:text-3xl leading-tight font-heading text-[--aw-color-hund]">
            {
              post.publishYear
            }       
          </p>
          {post.logo?.src && (
            <a href={post.logo.link} class="mb-3 mt-[6px]">
              <Image height={30} layout="constrained-height" src={post.logo.src} alt={post.logo.alt}/>
            </a>
          )}
        </div>
      </Fragment>
      
    </Hero2>

    <div class="flex flex-col md:flex-row md:flex-wrap justify-between max-w-7xl mx-auto md:mx-auto">
      <div class="grow-0 shrink-0 max-w-5xl">
        { post.awards && (
          <div class="flex flex-row gap-4 pl-6">
            {post.awards.map(award => (
              <div class="w-32 h-32"><Markdown.Inline of={award} /></div>
            ))}  
          </div>
        )}
        <div
          class="format-markdown format-portfolio mx-auto md:mx-0 lg:mx-auto px-6 sm:px-6 max-w-3xl prose prose-md lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px] prose-li:my-0"
        >
          <Markdown.Inline of={post.context} />
          <slot />
        </div>
          
          {post.outcome && (
            <div class="flex flex-col gap-4 mx-auto md:mx-0 lg:mx-auto px-6 pt-8 md:pt-12 sm:px-6 mb-6 max-w-3xl border-t-[#DBDBDB] border-t">
              <h2 class="text-4xl xl:text-[52px] xl:leading-[52px] font-heading">{post.outcome.title}</h2>
              {post.outcome.text1 && (<p class="text-base">{post.outcome.text1}</p>)}
              <div class="flex flex-col sm:flex-row justify-between gap-6">
                
                {post.outcome.numbers?.map((out) => (     
                <div class="basis-0 grow">
                  <h3 class="mb-2 text-xl">{out.title}</h3>
                  <Number 
                    number={out.number} 
                    classes="mb-1.5 font-heading" 
                    textClasses="text-xl sm:text-4xl" 
                    numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
                  />
                  <p class="mb-1 text-xl">{out.text}</p>
                </div>
                ))}
               
              </div>
              <p class="text-xl">{post.outcome.text2}</p>
            </div>
            )}
            
      </div>
      <div class="flex flex-col justify-between px-6 order-last md:order-none">
        <div class="lg:max-w-[320px]">
          <RelatedPages pages={post.relatedPages} />
        </div>
        <div class="lg:max-w-[320px]">
          <RelatedPages pages={post.relatedPages2} />
          <div class="flex justify-end mb-6">
            <div class="bg-[#E6E6E6] px-5 py-[10px] max-w-[167px]">
              <a href="https://sobakapav.ru/portfolio">Все проекты →</a>
            </div>
          </div>
        </div>
      </div>
      <div class="grow w-full">
        <Review post={post} />
      </div>
    </div> 
    
    
    {/* <RelatedLinks post={post} /> */}
    
  </article>
  
</section>
