---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Hund from '~/components/widgets/Hund.astro';
import Hund3 from '~/components/widgets/Hund3.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
<Bread title="Шапки" />
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Free template for <span class="hidden xl:inline">creating websites with</span>
      <span class="text-accent dark:text-white highlight"> Astro 4.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
       Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages
      & Blogs.
    </Fragment>
  </Hero>
  
  <!-- Hero2 Widget ******************* -->
    
    <Hero2
      tagline="Long-form Sales Demo"
      title="Long-form Sales: Sell with a Story: The Long-form Way!"
      subtitle="Dive deep into crafting a Landing Page that narrates, persuades, and converts."
      actions={[
        { variant: 'primary', text: 'Call to Action', href: '#', icon: 'tabler:square-rounded-arrow-right' },
        { text: 'Learn more', href: '#' },
      ]}
      image={{
        src: 'https://images.unsplash.com/photo-1621452773781-0f992fd1f5cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1626&q=80',
        alt: 'Children telling a story. Long-form Sales Landing Page demo',
      }}
    />
  
  <!-- Hund Widget ******************* -->
  <Hund
    image={{
      src: post.image,
      alt: post.imageAlt || '',
    }}
    imageSafari={post.image2 && {
      src: post.image2,
      alt: post.imageAlt || '',
    }}
    imageName={post.imageName}
    hyphenateTitle={post.hyphenateTitle}
  >
    <Fragment slot="title">
      <Markdown.Inline of={post.title} />
    </Fragment>
  
    <Fragment slot="supertitle">
      <a href="/services" class="text-[#95001B] no-underline hover:underline underline-offset-2 tracking-wide font-semibold">← ВСЕ УСЛУГИ</a>
    </Fragment>
    
    <Fragment slot="subtitle">
      <Markdown.Inline of={post.excerpt} />
    </Fragment>
    
  </Hund>
  
  <!-- Hund3 Widget ******************* -->
    
  <Hund3
      classes={{
        main: 'pb-10 md:pb-10',
        subtitle: 'mb-0',
      }}
    >
      <Fragment slot="title">
        Кейсы по дизайну интерфейсов
      </Fragment>
  
      <Fragment slot="subtitle">
        Дизайн сложных интерфейсов: UX, UI, редизайн, аудиты, исследования, профессиональные и массовые интерфейсы от «Собаки Павловой».</br>
        Подробные описания проектов, демонстрация итогов и промежуточных результатов, цены и отзывы клиентов. Читайте, пожалуйста ↓↓↓   
      </Fragment>
    </Hund3>  
    
</Layout>
