---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;

const sectionThreeTitle = "Контакты";
const email = "we@sobakapav.ru";
const phone = "+7 (921) 654-26-80";
const whatsup = "+792112345670";
const telegramLink = "https://t.me/procosha";
---


<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">

      <!-- О нас -->
      <div class="col-span-12 lg:col-span-4 flex flex-col space-y-4 justify-between">
        <div class="flex gap-x-12">
          <div style="background-color: var(--primary-h)" class="w-12 h-12 rounded-r-lg" class="shrink-0"></div>
          <dix class="flex flex-col">
          <a class="inline-block font-bold text-xl font-heading no-underline" href={getHomePermalink()}>
            {SITE?.name}
          </a>
          <div class="flex flex-col justify-between h-full mt-4">
            <ul class="text-sm space-y-4 mb-4">
              <li>
                <a class="no-underline hover:underline text-lg" href={`tel:${phone}`}>{phone}</a>
              </li>
              <li>
                <a href={`mailto:${email}`} class="hover:underline">{email}</a>
              </li>
              <li>
                <a href={telegramLink} class="hover:underline" target="_blank">@sobakapro</a>
              </li>
              <li>
                <a href={`https://wa.me/${whatsup}`} class="hover:underline" target="_blank">WhatsApp</a>
              </li>
            </ul>
          </div>
        </div>
        <p class="text-sm text-muted mt-2">
          2012-2024. Москва | Санкт-Петербург | Подгорица | Хайфа.
        </p>
      </div>

      <!-- Блок с кейсами -->
      <div class="col-span-12 lg:col-span-8 flex flex-col space-y-4">
        <div class="grid grid-cols-6 gap-4">
          <div class="col-span-6 md:col-span-4 lg:col-span-3">
            <div class="inline-block font-bold text-xl font-heading">Дизайн сложных интерфейсов</div>
            <p class="text-sm mt-4">
              <a href="https://new.sobakapav.ru/services/turnkey" class="hover:underline" target="_blank">UX/UI дизайн под ключ</a>
            </p>
            <p class="text-sm mt-2">
              <a href="https://new.sobakapav.ru/services/prototype" class="hover:underline" target="_blank">Прототип под инвестицию</a>
            </p>
            <p class="text-sm mt-2">
              <a href="https://new.sobakapav.ru/services/ui-redesign" class="hover:underline" target="_blank">UI-редизайн</a>
            </p>
            <p class="text-sm mt-2">
              <a href="https://new.sobakapav.ru/services/spot-redesign" class="hover:underline font-bold" target="_blank">Точечный редизайн интерфейса</a>
            </p>
            <p class="text-sm mt-2">
              <a href="https://new.sobakapav.ru/services/new-features" class="hover:underline" target="_blank">Добавление новой функциональности</a>
            </p>
            <p class="text-sm mt-2">
              <a href="https://new.sobakapav.ru/services/ux-audit" class="hover:underline" target="_blank">UX-аудит</a>
            </p>
            <p class="text-sm mt-2">
              <a href="https://new.sobakapav.ru/services/research" class="hover:underline" target="_blank">Продуктовое исследование</a>
            </p>
            <p class="text-sm mt-2">
              <a href="https://new.sobakapav.ru/services/dev-team" class="hover:underline font-bold" target="_blank">Усиление команды разработки</a>
            </p>
            <p class="text-sm mt-2">
              <a href="https://new.sobakapav.ru/services/product-team" class="hover:underline" target="_blank">Работа в продуктовой команде</a>
            </p>
            <p class="text-sm mt-2">
              <a href="https://new.sobakapav.ru/services/consultation" class="hover:underline" target="_blank">Консультации</a>
            </p>
            <p class="text-sm mt-2">
              <a href="https://new.sobakapav.ru/services/content-design" class="hover:underline" target="_blank">Контент-дизайн</a>
            </p>
          </div>

          <div class="col-span-6 md:col-span-4 lg:col-span-3">
            <div class="inline-block font-bold text-xl font-heading">
              <a href="https://sobakapav.ru/portfolio" class="hover:underline text-blue-600 font-heading" target="_blank">368 проектов</a>
              <span class="font-heading"> за 12 лет работы</span>
            </div>
             <p class="text-sm mt-4">
              <a href="https://sobakapav.ru/portfolio#med" class="hover:underline" target="_blank">Медицина</a>
            </p>
            <p class="text-sm mt-2">
              <a href="https://sobakapav.ru/portfolio#prom" class="hover:underline" target="_blank">Промышленность</a>
            </p>
             <p class="text-sm mt-2">
              <a href="https://sobakapav.ru/portfolio#fin" class="hover:underline" target="_blank">Финансовый сектор</a>
            </p>
             <p class="text-sm mt-2">
              <a href="https://sobakapav.ru/portfolio" class="hover:underline" target="_blank">Образование</a>
            </p>
             <p class="text-sm mt-2">
              <a href="https://sobakapav.ru/portfolio#it" class="hover:underline" target="_blank">IT-продукты для бизнеса</a>
            </p>
             <p class="text-sm mt-2">
              <a href="https://sobakapav.ru/portfolio#ec" class="hover:underline" target="_blank">E-commerce</a>
            </p>
             <p class="text-sm mt-2">
              <a href="https://sobakapav.ru/portfolio#gos" class="hover:underline" target="_blank">Госсектор и безопасность</a><br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <div class="text-sm mr-4 dark:text-muted">
        <Fragment set:html={footNote} />
      </div>
    </div>
  </div>
</footer>
