---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import { getPermalink, getHomePermalink, getBlogPermalink, getAsset } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;

const sectionThreeTitle = "Контакты";
const email = "we@sobakapav.ru";
const phone = "7 (495) 191-92-81";
const whatsup = "NZGZSOAXXM2IN1";
const telegramLink = "https://t.me/sobakapavpro";
---


<footer class:list={[{ dark: theme === 'dark' }, 'relative not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="grid grid-cols-footer grid-rows-footer-sm lg:grid-rows-footer gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">

      <!-- О нас -->
      <!-- Logo -->
      <div class="col-span-1 gap-x-12 flex">
          <div class="shrink-0 flex flex-col justify-between">
           <img src="/images/logos/logo-darkred.svg" class="w-[67px] h-[67px] rounded-lg mt-2 md:mt-[7px]">
          </div>
      </div>
      
      <!-- Собака Павлова -->
            <div class="col-span-3 lg:col-span-1 gap-x-12 flex lg:mt-[0px]">
                <div class="flex flex-col">          
                  <a class="inline-block text-[52px] leading-[50px] font-heading no-underline mb-5 max-w-64" href={getHomePermalink()}>
                    {SITE?.name}
                  </a>
                  <div class="flex flex-col h-full mb-2">
                    <p class="mb-2.5 text-base">
                        {SITE.phone}
                    </p>
                    <p class="mb-2.5">
                        <a class="no-underline hover:underline underline-offset-2 text-base" href={`mailto:${SITE.email}`}>{SITE.email}</a>
                    </p>
                    <p class="mb-2.5">
                        <a href={SITE.telegramContact.link} class="flex items-center no-underline hover:underline underline-offset-2 text-base">@sobakapavpro<Icon height="27px" width="27px" name="tabler:brand-telegram" class="ml-2" /></a>
                    </p>
                    <p class="mb-2.5">
                        <a href={`https://wa.me/message/${whatsup}`} class="flex items-center no-underline hover:underline underline-offset-2 text-base">WhatsApp <Icon height="25px" width="25px" name="tabler:brand-whatsapp" class="ml-2" /></a> 
                    </p>
                  </div>
                </div>
            </div>

      <!-- Блок с услугами -->
      <div class="col-span-4 lg:col-span-1 md:col-span-2 lg:row-span-2 flex flex-col lg:ml-5">
            <h3 class="inline-block text-4xl font-heading mb-2">Дизайн сложных интерфейсов</h3>
            <p class="text-base mb-2.5">
              <a href={getPermalink('/services/ux-design')} class="no-underline hover:underline underline-offset-2">UX/UI дизайн под ключ</a>
            </p>
            <p class="text-base mb-2.5">
              <a href={getPermalink('/services/prototype')} class="no-underline hover:underline underline-offset-2">Прототип под инвестицию</a>
            </p>
            <p class="text-base mb-2.5">
              <a href={getPermalink('/services/ui-redesign')} class="no-underline hover:underline underline-offset-2">UI-редизайн</a>
            </p>
            <p class="text-base mb-2.5">
              <a href={getPermalink('/services/redesign')} class="no-underline hover:underline underline-offset-2">Точечный редизайн интерфейса</a>
            </p>
            <p class="text-base mb-2.5">
              <a href={getPermalink('/services/new-features')} class="no-underline hover:underline underline-offset-2">Добавление новой функциональности</a>
            </p>
            <p class="text-base mb-2.5">
              <a href={getPermalink('/services/ux-audit')} class="no-underline hover:underline underline-offset-2">UX-аудит</a>
            </p>
            <p class="text-base mb-2.5">
              <a href={getPermalink('/services/research')} class="no-underline hover:underline underline-offset-2">Продуктовое исследование</a>
            </p>
            <p class="text-base mb-2.5">
              <a href={getPermalink('/services/product-team')} class="no-underline hover:underline underline-offset-2">Усиление команды разработки</a>
            </p>
            <p class="text-base mb-2.5">
              <a href={getPermalink('/services/dev-team')} class="no-underline hover:underline underline-offset-2">Работа в продуктовой команде</a>
            </p>
            <p class="text-base mb-2.5">
              <a href={getPermalink('/services/consultation')} class="no-underline hover:underline underline-offset-2">Консультации</a>
            </p>
            <p class="text-base">
              <a href={getPermalink('/services/content-design')} class="no-underline hover:underline underline-offset-2">Контент-дизайн</a>
            </p>
      </div>
      
      <!-- Блок с кейсами -->
            <div class="col-span-4 lg:col-span-1 md:col-span-2 lg:row-span-2 flex flex-col">
                  <h3 class="inline-block text-4xl font-heading mb-2">
                    <a href="https://sobakapav.ru/portfolio" class="underline-offset-4" style="color: var(--dark-4)">368 проектов</a>
                     </br>за 12 лет работы
                  </h3>
                   <p class="text-base mb-2.5">
                    <a href="https://sobakapav.ru/portfolio#med" class="no-underline hover:underline underline-offset-2">Медицина</a>
                  </p>
                  <p class="text-base mb-2.5">
                    <a href="https://sobakapav.ru/portfolio#prom" class="no-underline hover:underline underline-offset-2">Промышленность</a>
                  </p>
                   <p class="text-base mb-2.5">
                    <a href="https://sobakapav.ru/portfolio#fin" class="no-underline hover:underline underline-offset-2">Финансовый сектор</a>
                  </p>
                  <p class="text-base mb-2.5">
                    <a href="https://sobakapav.ru/portfolio#it" class="no-underline hover:underline underline-offset-2">IT-продукты для бизнеса</a>
                  </p>
                   <p class="text-base mb-2.5">
                    <a href="https://sobakapav.ru/portfolio#ec" class="no-underline hover:underline underline-offset-2">E-commerce</a>
                  </p>
                   <p class="text-base mb-2.5">
                    <a href="https://sobakapav.ru/portfolio" class="no-underline hover:underline underline-offset-2">Образование</a>
                  </p>                 
                   <p class="text-base mb-2.5">
                    <a href="https://sobakapav.ru/portfolio#gos" class="no-underline hover:underline underline-offset-2">Госсектор и безопасность</a>
                  </p>
                   <p class="text-base">
                    <a href="https://sobakapav.ru/portfolio#complex" class="no-underline hover:underline underline-offset-2">GUI устройств и приборов</a>
                  </p>
            </div>
      
       <!-- Years -->
            <div class="col-span-1 gap-x-12 flex items-end">
                 <p class="text-sm text-muted mt-2 lg:whitespace-nowrap">
                    2012–2024
                 </p>
            </div>
            
       <!-- Cities-->
           <div class="col-span-3 lg:col-span-1 gap-x-12 flex items-end">
                <p class="text-sm text-muted mt-2 lg:whitespace-nowrap">
                   Москва • Санкт-Петербург • Подгорица • Хайфа
                </p>
           </div>
    </div>

    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <div class="text-sm mr-4 dark:text-muted">
        <Fragment set:html={footNote} />
      </div>
    </div>
  </div>
</footer>
