---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';

import Slider from '~/components/common/Slider.astro';

const { darkTheme = false} = Astro.props;

const colors = darkTheme 
  ? 'bg-[--aw-color-bg-page-dark] text-[--aw-color-text-dark]'
  : '';

---

<section class:list={['hidden lg:flex flex-row w-full justify-center', colors]}>
<div class="grow flex flex-row justify-between text-base gap-2.5 py-5 px-6 mx-auto max-w-7xl">
   <Slider delay={6} title="">
       <Fragment slot="slide-1">
         <div class="">
           <a href="/portfolio/sberbank" class="no-underline flex items-center gap-4"><img src="/images/services/sberbank3.svg" height="24" class="ml-1 h-6 fill-white"><span>ПАО «Сбербанк»</span><span>•</span><span>Гайд по созданию интерфейсных тестов</span></a>
         </div>
       </Fragment>
       <Fragment slot="slide-2">
         <div>
           <a href="/portfolio/gazprom-neft" class="no-underline flex items-center gap-4"><img src="/images/services/gazprom3.svg" height="24" class="ml-1 h-6 fill-white"><span>Газпром-Нефть</span><span>•</span><span>Карта пользователя для внутреннего портала</span></a>
         </div>
       </Fragment>
       <Fragment slot="slide-3">
         <div>
           <a href="/portfolio/alfabank" class="no-underline flex items-center gap-4"><img src="/images/services/alfa3.svg" height="24" class="ml-1 h-6 fill-white"><span>Альфа-банк</span><span>•</span><span>Интерфейс мобильного приложения</span></a>
         </div>
       </Fragment>
       <Fragment slot="slide-4">
         <div>
           <a href="/portfolio/alfa-arm" class="no-underline flex items-center gap-4"><img src="/images/services/alfa3.svg" height="24" class="ml-1 h-6 fill-white"><span>Альфа-банк</span><span>•</span><span>Интерфейс рабочего места оператора поддержки</span></a>
         </div>
       </Fragment>
       <Fragment slot="slide-5">
         <div>
           <a href="/portfolio/alfa" class="no-underline flex items-center gap-4"><img src="/images/services/alfa-strah3.svg" height="24" class="ml-1 h-6 fill-white"><span>АльфаСтрахование</span><span>•</span><span>Интерфейс рабочего места страхового агента</span></a>
         </div>
       </Fragment>
       <Fragment slot="slide-6">
         <div>
           <a href="/portfolio/alfastrahhr" class="no-underline flex items-center gap-4"><img src="/images/services/alfa-strah3.svg" height="24" class="ml-1 h-6 fill-white"><span>АльфаСтрахование</span><span>•</span><span>UI-редизайн корпоративного портала</span></a>
         </div>
       </Fragment><Fragment slot="slide-7">
          <div>
            <a href="/portfolio/alfastrah-design" class="no-underline flex items-center gap-4"><img src="/images/services/alfa-strah3.svg" height="24" class="ml-1 h-6 fill-white"><span>АльфаСтрахование</span><span>•</span><span>Дизайн-система</span></a>
          </div>
       </Fragment>
       <Fragment slot="slide-8">
          <div>
            <a href="/portfolio/sportmaster" class="no-underline flex items-center gap-4"><img src="/images/services/sportmaster3.svg" height="24" class="ml-1 h-6 fill-white"><span>Спортмастер</span><span>•</span><span>UX-тестирование терминалов самообслуживания</span></a>
          </div>
       </Fragment>
       <Fragment slot="slide-9">
          <div>
            <a href="/portfolio/avito" class="no-underline flex items-center gap-4"><img src="/images/services/avito3.svg" height="24" class="ml-1 h-6 fill-white"><span>Авито</span><span>•</span><span>UX-исследование рабочего места менеджера по продажам</span></a>
          </div>
       </Fragment>
       </Fragment><Fragment slot="slide-10">
           <div>
             <a href="/portfolio/tinkoff" class="no-underline flex items-center gap-4"><img src="/images/services/tinkoff3.svg" height="24" class="ml-1 h-6 fill-white"><span>Тинькофф-банк</span><span>•</span><span>Онбординг для банка</span></a>
           </div>
       </Fragment>
       <Fragment slot="slide-11">
           <div>
             <a href="/portfolio/edms" class="no-underline flex items-center gap-4"><img src="/images/services/baltika.svg" height="24" class="ml-1 h-6 fill-white"><span>Балтика</span><span>•</span><span>Система электронного документооборота</span></a>
           </div>
       </Fragment>
       <Fragment slot="slide-12">
           <div>
             <a href="/portfolio/okey" class="no-underline flex items-center gap-4"><img src="/images/services/okey2.svg" height="24" class="mx-4 h-6 fill-white"><span>О'КЕЙ</span><span>•</span><span>Приложение для федеральной розничной сети</span></a>
           </div>
       </Fragment>    
   </Slider>
   <div class="flex flex-row justify-end">
      <span>
          {SITE.phone}
      </span>
      <span>
          <a class="underline-offset-2 text-base ml-2" href={`mailto:${SITE.email}`}>{SITE.email}</a>
      </span>
      <span>
          <a href={SITE.telegramContact.link}><Icon height="20px" width="20px" name="tabler:brand-telegram" class="ml-2" /></a>
      </span>
      <span>
          <a href={`https://wa.me/message/${SITE.whatsup}`}><Icon height="20px" width="20px" name="tabler:brand-whatsapp" class="ml-2" /></a> 
      </span>
   </div>
</div>
</section>
