---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';

---

<div class="flex flex-row justify-end text-base gap-2.5 py-5 px-5 mx-auto max-w-7xl">
      <span>
          {SITE.phone}
      </span><span class="text-[#9F9F9F]">•</span>
      <span>
          <a class="underline-offset-2 text-base" href={`mailto:${SITE.email}`}>{SITE.email}</a>
      </span><span class="text-[#9F9F9F]">•</span>
      <span>
          <a href={SITE.telegramContact.link}><Icon height="20px" width="20px" name="tabler:brand-telegram" class="ml-2" /></a>
      </span>
      <span>
          <a href={`https://wa.me/message/${SITE.whatsup}`}><Icon height="20px" width="20px" name="tabler:brand-whatsapp" class="ml-2" /></a> 
      </span>
<div>
