---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';

import Slider from '~/components/common/Slider.astro';

const { darkTheme = false} = Astro.props;

const colors = darkTheme 
  ? 'bg-[--aw-color-bg-page-dark] text-[--aw-color-text-dark]'
  : '';

---

<section class:list={['hidden lg:flex flex-row w-full justify-center', colors]}>
<div class="grow flex flex-row justify-between text-base gap-2.5 py-5 px-6 mx-auto max-w-7xl">
   <Slider delay={6} title="">
       <Fragment slot="slide-1">
         <div>
           <a href="/portfolio/sberbank" class="no-underline">ПАО «Сбербанк» • Гайд по созданию интерфейсных тестов</a>
         </div>
       </Fragment>
       <Fragment slot="slide-2">
         <div>
           <a href="/portfolio/gazprom-neft" class="no-underline">Газпром-Нефть •  Карта пользователя для внутреннего портала</a>
         </div>
       </Fragment>
       <Fragment slot="slide-3">
         <div>
           <a href="/portfolio/alfabank" class="no-underline">Альфа-банк • Интерфейс мобильного приложения</a>
         </div>
       </Fragment>
       <Fragment slot="slide-4">
         <div>
           <a href="/portfolio/alfa-arm" class="no-underline">Альфа-банк • Интерфейс рабочего места оператора поддержки</a>
         </div>
       </Fragment>
       <Fragment slot="slide-5">
         <div>
           <a href="/portfolio/alfa" class="no-underline">АльфаСтрахование • Интерфейс рабочего места страхового агента</a>
         </div>
       </Fragment>
       <Fragment slot="slide-6">
         <div>
           <a href="/portfolio/alfastrahhr" class="no-underline">АльфаСтрахование • UI-редизайн корпоративного портала</a>
         </div>
       </Fragment><Fragment slot="slide-7">
          <div>
            <a href="/portfolio/alfastrah-design" class="no-underline">АльфаСтрахование • Дизайн-система</a>
          </div>
       </Fragment>
       <Fragment slot="slide-8">
          <div>
            <a href="/portfolio/sportmaster" class="no-underline">Спортмастер • UX-тестирование терминалов самообслуживания</a>
          </div>
       </Fragment>
       <Fragment slot="slide-9">
          <div>
            <a href="/portfolio/avito" class="no-underline">Авито • UX-исследование рабочего места менеджера по продажам</a>
          </div>
       </Fragment>
       </Fragment><Fragment slot="slide-10">
           <div>
             <a href="/portfolio/tinkoff" class="no-underline">Тинькофф-банк • Онбординг для банка</a>
           </div>
       </Fragment>
       <Fragment slot="slide-11">
           <div>
             <a href="/portfolio/edms" class="no-underline">Балтика • Система электронного документооборота</a>
           </div>
       </Fragment>
       <Fragment slot="slide-12">
           <div>
             <a href="/portfolio/okey" class="no-underline">О'КЕЙ • Приложение для федеральной розничной сети</a>
           </div>
       </Fragment>    
   </Slider>
   <div class="flex flex-row justify-end">
      <span>
          {SITE.phone}
      </span>
      <span>
          <a class="underline-offset-2 text-base ml-2" href={`mailto:${SITE.email}`}>{SITE.email}</a>
      </span>
      <span>
          <a href={SITE.telegramContact.link}><Icon height="20px" width="20px" name="tabler:brand-telegram" class="ml-2" /></a>
      </span>
      <span>
          <a href={`https://wa.me/message/${SITE.whatsup}`}><Icon height="20px" width="20px" name="tabler:brand-whatsapp" class="ml-2" /></a> 
      </span>
   </div>
</div>
</section>
