---
import { Icon } from 'astro-icon/components';

const sectionThreeTitle = "Контакты";
const email = "we@sobakapav.ru";
const phone = "7 (495) 191-92-81";
const whatsup = "NZGZSOAXXM2IN1";
const telegramLink = "https://t.me/sobakapavpro";
---

<div class="flex flex-row justify-end text-base gap-2.5 py-5 px-5 mx-auto max-w-7xl">
      <span>
          {phone}
      </span><span class="text-[#9F9F9F]">•</span>
      <span>
          <a class="underline-offset-2 text-base" href={`mailto:${email}`}>{email}</a>
      </span><span class="text-[#9F9F9F]">•</span>
      <span>
          <a href={telegramLink}><Icon height="20px" width="20px" name="tabler:brand-telegram" class="ml-2" /></a>
      </span>
      <span>
          <a href={`https://wa.me/message/${whatsup}`}><Icon height="20px" width="20px" name="tabler:brand-whatsapp" class="ml-2" /></a> 
      </span>
<div>
