---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';

const { darkTheme = false} = Astro.props;

const colors = darkTheme 
  ? 'bg-[--aw-color-bg-page-dark] text-[--aw-color-text-dark]'
  : '';

---

<section class:list={['hidden lg:flex flex-row w-full justify-center', colors]}>
<div class="grow flex flex-row justify-end text-base gap-2.5 py-5 px-6 mx-auto max-w-7xl">
      <span>
          {SITE.phone}
      </span>
      <span>
          <a class="underline-offset-2 text-base ml-2" href={`mailto:${SITE.email}`}>{SITE.email}</a>
      </span>
      <span>
          <a href={SITE.telegramContact.link}><Icon height="20px" width="20px" name="tabler:brand-telegram" class="ml-2" /></a>
      </span>
      <span>
          <a href={`https://wa.me/message/${SITE.whatsup}`}><Icon height="20px" width="20px" name="tabler:brand-whatsapp" class="ml-2" /></a> 
      </span>
<div>
</section>
