---
import { APP_BLOG } from "astrowind:config";

import Grid from "~/components/portfolio/PortfolioGrid.astro";
import { Icon } from 'astro-icon/components';

import { getBlogPermalink } from "~/utils/permalinks";
import { findPostsByIds } from "~/utils/blog";
import { getEntry } from 'astro:content';
import WidgetWrapper from "~/components/ui/WidgetWrapper.astro";
import type { Widget } from "~/types";

export interface Props extends Widget {
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  postIds: string[];
}

const {
  title = await Astro.slots.render("title"),
  linkText = "View all posts",
  linkUrl = getBlogPermalink(),
  information = await Astro.slots.render("information"),
  links = [],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render("bg"),
  collection
} = Astro.props;

const posts = [];
for (var item of links) {
  const data = (await getEntry(collection, item)).data;
  data.href = `/${collection}/${item}`;
  posts.push(data);
}
---

{
  APP_BLOG.isEnabled ? (
    <WidgetWrapper id={id} isDark={isDark} containerClass={classes?.container as string} bg={bg}>
      <div class="flex flex-col lg:justify-between lg:flex-row mb-2">
        {title && (
          <div>
            <a href="https://sobakapav.ru/portfolio" class="text-[--aw-color-accent] underline underline-offset-2"><h3
              class="text-2xl group font-heading mb-2"
              set:html={title}
            /></a>
            
          </div>
        )}

      </div>
      
      {information && <p class="text-muted dark:text-slate-400 lg:text-sm lg:max-w-md" set:html={information} />}
      
      <Grid posts={posts} classes="flex-row lg:flex-col justify-normal lg:justify-between gap-4"/>
    </WidgetWrapper>
  ) : (
    <Fragment />
  )
}
