---

import { twMerge } from "tailwind-merge";

import Image from '~/components/common/Image.astro';
//import Button from '~/components/ui/Button.astro'; 
import type { CallToAction } from '~/types';

import './Hund.less';

export interface Props {
  id?: string;
  awards?: string;
  title?: string;
  subtitle?: string;
  tagline?: string;
  content?: string;
  actions?: string | CallToAction[];
}

const {
  id,
  awards = await Astro.slots.render('awards'),
  title = await Astro.slots.render('title'),
  title2 = await Astro.slots.render('title2'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  classes = {},
  darkTheme = false,
  bgImage,
} = Astro.props;

const mainColors = darkTheme 
  ? 'bg-[--aw-color-bg-page-dark] text-[--aw-color-text-dark]'
  : '';
  
const textColors = darkTheme 
  ? 'text-[--aw-color-text-muted-dark]'
  : ''; 
  
const bgImageStyle = bgImage && ('background-image: url(\''+ bgImage + '\')');
---

<section class:list={['hero-block relative hund-background', mainColors]} {...id ? { id } : {}} style={bgImageStyle}>
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto">
    <div class="pt-0 pointer-events-none"></div>
    <div class:list={[twMerge('pt-6 md:pt-8 pb-10 md:pb-12 px-4 sm:px-6', classes.main || '')]}>
      

      <div class="text-left max-w-xl">
        {
          tagline && (
            <p
              class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase"
              set:html={tagline}
            />
          )
        }
        {
          title && (
            <h1
              class:list={[twMerge('max-w-3xl text-5xl md:text-8xl leading-tight mb-4 font-heading dark:text-gray-200', classes.title || '')]}
              set:html={title}
            />
          )
        }
        {
          title2 && (
            <h2
              class="max-w-3xl text-sm tracking-[3px] leading-5 font-semibold uppercase text-[--aw-color-pink] mb-4"
              set:html={title2}
            />
          )
        }
        <div class="max-w-3xl">
          {subtitle && (
            <p class:list={[twMerge('text-xl text-muted mb-6 dark:text-slate-300', classes.subtitle || '', textColors)]} set:html={subtitle} />
          )}         
        </div>
        {content && <Fragment set:html={content} />}
        
        {
          awards && (
            <div
              class="absolute bottom-[-64px] right-0"
              set:html={awards}
            />
          )
        }
        
      </div>
    </div>
  </div>
</section>
