---
import Image from '~/components/common/Image.astro';

import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import LogoTabComponent from '~/components/main/LogoTabComponent.astro';
import CardSlider from '~/components/main/CardSlider.astro';
import CurrentProjects from '~/components/main/CurrentProjects.astro';

import '~/components/main/Bento.less';

---
<div class="bento-grid grid max-w-7xl mx-auto px-4 sm:px-6 mb-6 pt-11 mt-[-4px] gap-6">
  <div class="gap-4">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Над чем мы работаем в октябре 2025 года</h2>
    <CurrentProjects projects={['project-18', 'project-17',  'project-16', 'project-15', 'project-14', 'project-13', 'project-4']} />
  </div>
  
  <div class="flex flex-col justify-between">
    <div class="flex flex-col">
      <div class="flex flex-row justify-between">
        <h2 class="text-xl font-heading tracking-widest leading-none dark:text-[--aw-color-pink] text-[--aw-color-hund] mb-4">Что мы делаем</h2>
        <div class="text-xl font-heading tracking-widest leading-none bg-[--aw-color-grey9] px-5 py-[10px] flex flex-row align-center max-w-[167px] max-h-11 mt-[-12px] mb-4">
          <a href="/services">Все услуги →</a>
        </div>
      </div>
      {/*<h3 class="text-[52px] leading-none font-heading mb-6">Сделаем для вас</h3> */}
      
      <div class="flex flex-col sm:flex-row lg:flex-col justify-start gap-4 sm:gap-6 lg:gap-4">
        <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4">
          <li><a class="underline-offset-4 decoration-1" href="/services/ux-design">UX/UI-дизайн под ключ</a></li>
          <li><a class="underline-offset-4 decoration-1" href="/services/redesign">Точечный редизайн</a></li>
          <li><a class="underline-offset-4 decoration-1" href="/services/new-features">Добавление новой функциональности</a></li>
          <li><a class="underline-offset-4 decoration-1" href="/services/prototype">Прототип под инвестиции</a></li>
        </ul>
        <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4">
          <li><a class="underline-offset-4 decoration-1" href="/services/ui-redesign">UI-редизайн</a></li>
          <li><a class="underline-offset-4 decoration-1" href="/services/research">Продуктовое исследование</a></li>
          <li><a class="underline-offset-4 decoration-1" href="/services/ux-audit">UX-аудит</a></li>
          <li><a class="underline-offset-4 decoration-1" href="/services/ux-outsource">UX-отдел на аутсорсе</a></li>
          {/*<li><a class="underline-offset-4 decoration-1" href="/services/consultation">Консультации</a></li>
          <li><a class="underline-offset-4 decoration-1" href="/services/content-design">Контент-дизайн</a></li>*/}
        </ul>
      </div>  
      
    </div>
    
    {/*<div class="h-[1px] border border-[#E8E8E8]"></div>*/}
      
    <div class="flex flex-row justify-between md:justify-end lg:justify-between mt-6 md:mt-8 md:gap-8 lg:gap-0">
      <a href="https://www.figma.com"><div class="h-[69px] lg:h-[48px] xl:h-[69px]"><Image src="~/assets/images/services/figma.svg" height={69} layout="constrained-height" alt="Figma" /></div></a>
      <a href="https://react.dev/"><div class="h-[69px] lg:h-[48px] xl:h-[69px]"><Image src="~/assets/images/services/react.svg" height={69} layout="constrained-height" alt="React" /></div></a> 
      <a href="https://ant.design/"><div class="h-[69px] lg:h-[48px] xl:h-[69px]"><Image src="~/assets/images/services/ant.svg" height={69} layout="constrained-height" alt="Ant" /></div></a>
      <a href="https://www.typescriptlang.org/"><div class="h-[69px] lg:h-[48px] xl:h-[69px]"><Image src="~/assets/images/services/typescript.svg" height={69} layout="constrained-height" alt="TypeScript" /></div></a>
    </div>
  </div>
  
  <div>
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-pink] mb-2">Отвечаем по всем каналам — сразу человек и сразу по делу</h2>
    <div class="flex flex-col lg:flex-row gap-6">
      <h3 class="font-heading text-3xl text-white md:text-[97px] lg:text-[52px] xl:text-[86px] leading-none no-underline">{SITE.phone}</h3>
      <div class="flex flex-col gap-1 justify-center text-white">
        <a class="no-underline hover:underline underline-offset-4 text-base" href={`mailto:${SITE.email}`}>{SITE.email}</a>
        <a href={SITE.telegramContact.link} class="flex items-center no-underline hover:underline underline-offset-4 text-base">@sobakapavpro<Icon height="27px" width="27px" name="tabler:brand-telegram" class="ml-2" /></a>
        <a href={`https://wa.me/message/${SITE.whatsup}`} class="flex items-center no-underline hover:underline underline-offset-4 text-base">WhatsApp <Icon height="25px" width="25px" name="tabler:brand-whatsapp" class="ml-2" /></a> 
      </div>
    </div>
  </div>
</div>

<div class="bento-grid2 grid max-w-7xl mx-auto px-4 sm:px-6 mb-6 mt-6 gap-6">
  <div class="flex flex-col justify-between">
    <div class="flex flex-col">
      <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-6">Отрасли</h2>
      
      <div class="flex flex-col sm:flex-row justify-start mb-4 gap-4 sm:gap-6 dark:text-[--aw-color-text-light-default]">
        <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4">
          <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#med">Медицина</a></li>
          <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#prom">Промышленность</a></li>
          <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#fin">Финансы</a></li>
          <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#it">IT-продукты для бизнеса</a></li>
          <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#ec">E-commerce</a></li>
        </ul> 
        <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4">
          <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#ed">Образование</a></li>
          <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#gos">Госсектор и безопасность</a></li>
          <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#log">Транспорт и туризм</a></li>
          <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#complex">GUI устройств и приборов</a></li>
        </ul> 
      </div>
    </div>
        
    <LogoTabComponent />
  </div>
   
  <div class="w-full aspect-video">
    <iframe class="w-full aspect-video" src="https://www.youtube.com/embed/lTv-jYVKgi4" title="Как мы пишем кейсы о дизайне интерфейсов" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
   
  <div class="gap-4">
    <div class="flex justify-between mb-4">
      <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] dark:text-[--aw-color-pink] mb-4">Research & Development</h2>
      {/*<div class="bg-[#E6E6E6] dark:bg-[--aw-color-hund] px-5 py-[10px] flex flex-row align-center max-w-[167px] max-h-11 mt-[-12px] text-sm">
        <a href="/services">Экспертиза →</a>
      </div>*/}
    </div>
    
    <div class="flex flex-row flex-wrap md:flex-nowrap gap-6 mt-6">
      <a class="flex flex-col no-underline" href="/publications"><div class="text-[52px] font-heading leading-none ml-[-8px]">100+</div><span class="underline underline-offset-4 decoration-1">статей об интерфейсах</span></a>
      <a class="flex flex-col no-underline" href="/cheatsheets"><div class="text-[52px] font-heading leading-none ml-[-8px]">100+</div><span class="underline underline-offset-4 decoration-1">шпаргалок по дизайну</span></a> 
      <a class="flex flex-col no-underline" href="https://eduhund.com/"><div class="text-[52px] font-heading leading-none">20+</div><span class="underline underline-offset-4 decoration-1">плагинов для <span class="figma">Figma</span></span></a>
      <a class="flex flex-col no-underline" href="/books"><div class="text-[52px] font-heading leading-none">3</div><span class="underline underline-offset-4 decoration-1">книги про UX</span></a>
    </div>
    
    <div class="flex flex-row mt-8 items-center">
      <img src="/images/main/blob.svg" />
      <a href="https://www.eduhund.ru/" class="uppercase text-3xl md:text-[52px] font-heading ml-[-30px] z-[0]">Дизайн-задачник →</a>
    </div>
  </div>
  
  <div class="gap-4">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-pink] mb-4">Шпаргалка дня</h2>
    <a href="https://sobakapav.ru/cheatsheets/component-design">
      <h3 class="text-4xl sm:text-[52px] sm:leading-none font-heading text-white mb-4">Как и зачем использовать дизайн в компонентах</h3>
      <div class="text-[#929292]">Элементы интерфейса • Библиотека компонентов • Figma components</div>
    </a>
  </div>
</div>

<div class="bento-grid4 grid max-w-7xl mx-auto px-4 sm:px-6 mb-8 md:mb-8 mt-6 gap-6">
  <CardSlider cases={['tmh', 'qiwi', 'pangeo', 'res', 'tis', 'raisa', 'gazprom-neft']} delay={6}/>
   
  <div class="gap-4">
    <div class="flex justify-between mb-4">
      <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Публикации</h2>
      <div class="flex flex-row gap-6 ">
        <a class="" href="https://vc.ru/u/230065-sobaka-pavlova"><div class=""><Image src="~/assets/images/services/vc.svg" layout="constrained-height" height={36} alt="VC" /></div></a>
        <a class="" href="https://t.me/sobakawow"><div class=""><Image src="~/assets/images/services/tg.svg" layout="constrained-height" height={36} alt="Telegram" /></div></a> 
        <a class="" href="https://www.youtube.com/@sobakapav"><div class=""><Image src="~/assets/images/services/youtube.svg" layout="constrained-height" height={36} alt="Youtube" /></div></a>
      </div>
    </div>
    
    <div class="flex justify-between flex-col gap-4">
       <a href="/publications/pervasive-colors" class="basis-0 grow-[7]">
         <h3 class="text-xl leading-[26px] underline underline-offset-4 decoration-1 dark:text-[--aw-color-text-light-default] mb-2">Единая палитра для разных приложений</h3>
         <div class="text-base mb-4 dark:text-[--aw-color-text-light-default]">Для тех, кто ценит цветовую консистентность.</div>
         <div class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund]">
           14.03.2025
         </div>
       </a> 
       <a href="/publications/task-management" class="basis-0 grow-[8]">
        <h3 class="text-xl leading-[26px] underline underline-offset-4 decoration-1 dark:text-[--aw-color-text-light-default] mb-2">Самый быстрый способ управлять задачами</h3>
        <div class="text-base mb-4 dark:text-[--aw-color-text-light-default]">Как заменить Trello, Jira и прочие таск-трекеры обычным текстом.</div>
        <div class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund]">
          21.03.2025
        </div>
      </a>
      {/*<a href="/publications/electrocardiography" class="basis-0 grow-[7]">
        <h3 class="text-xl leading-[26px] underline underline-offset-4 decoration-1 dark:text-[--aw-color-text-light-default] mb-2">60 вариантов плëнки для ЭКГ одним решением</h3>
        <div class="text-base mb-4 dark:text-[--aw-color-text-light-default]">Рассказываем, как учесть интересы врачей, разработки и бизнеса в медицинском интерфейсе.</div>
        <div class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund]">
          14.03.2025
        </div>
      </a> */}  
    </div>
  </div>
  
  <div class="gap-4 flex flex-col justify-center">
    <h3 class="text-[52px] font-heading leading-none text-[--aw-color-grey1]"><a href="/vacancy">Вакансии →</a></h3>
  </div> 
  
</div>

