---
import Image from '~/components/common/Image.astro';

import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import CardSlider from '~/components/main/CardSlider.astro';

import '~/components/main/Bento.less';

---
<div class="bento-grid grid max-w-7xl mx-auto px-4 sm:px-6 mb-6 mt-10 gap-6">
  <div class="gap-4">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Делаем в декабре 2024 года</h2>
    <h3 class="text-[52px] leading-none font-heading dark:text-[--aw-color-text-light-default] mb-6">Управление виртуальным дата-центром</h3>
    <span class="text-xl text-[#929292]"><a href="/portfolio#it">IT-продукты для бизнеса</a> • <a href="/services/new-features">Добавление новой функциональности</a> • <a href="/services/ui-redesign">UI-редизайн</a></span>
    <div class="ml-[-40px] mr-10"><Image src="~/assets/images/main/now.png" alt="Делаем сейчас" /></div>
  </div>
  
  <div class="border border-[#BEBEBE] flex flex-col justify-between">
    
    <div class="flex flex-col">
      <div class="flex flex-row justify-between">
          <h2 class="text-xl font-heading tracking-widest leading-none dark:text-[--aw-color-pink] text-[--aw-color-hund] mb-4">Наши услуги</h2>
          <div class="text-xl font-heading tracking-widest leading-none bg-[#E6E6E6] dark:bg-[--aw-color-hund] px-5 py-[10px] flex flex-row align-center max-w-[167px] max-h-11 mt-[-12px] mb-4">
               <a href="/services">Все услуги →</a>
            </div>
      </div>
      {/*<h3 class="text-[52px] leading-none font-heading mb-6">Сделаем для вас</h3> */}
      
      <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-2 gap-4">
        <li><a href="/services/ux-design">UX/UI-дизайн под ключ</a></li>
        <li><a href="/services/redesign">Точечный редизайн</a></li>
        <li><a href="/services/new-features">Добавление новой функциональности</a></li>
        <li><a href="/services/prototype">Прототип под инвестиции</a></li>
        <li><a href="/services/ui-redesign">UI-редизайн</a></li>
        <li><a href="/services/research">Продуктовое исследование</a></li>
        <li><a href="/services/ux-audit">UX-аудит</a></li>
        <li><a href="/services/dev-team">Усиление команды разработки</a></li>
        {/* <li><a href="/services/product-team">Работа в продуктовой команде</a></li>
        <li><a href="/services/consultation">Консультации</a></li>
        <li><a href="/services/content-design">Контент-дизайн</a></li>*/}
      </ul>  
      
    </div>
    
    {/*<div class="h-[1px] border border-[#E8E8E8]"></div>*/}
      
    <div class="flex flex-row justify-between mt-6 md:mt-8">
      <a href="https://www.figma.com"><div class="h-16"><Image src="~/assets/images/services/figma.svg" height={64} layout="constrained-height" alt="Figma" /></div></a>
      <a href="https://react.dev/"><div class="h-16"><Image src="~/assets/images/services/react.svg" height={64} layout="constrained-height" alt="React" /></div></a> 
      <a href="https://ant.design/"><div class="h-16"><Image src="~/assets/images/services/ant.svg" height={64} layout="constrained-height" alt="Ant" /></div></a>
      <a href="https://www.typescriptlang.org/"><div class="h-16"><Image src="~/assets/images/services/typescript.svg" height={64} layout="constrained-height" alt="TypeScript" /></div></a>
    </div>
  </div>
  
  <div>
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] dark:text-[--aw-color-pink] mb-2">Сразу человек, сразу по делу — и отвечаем по всем каналам</h2>
    <div class="flex flex-col md:flex-row gap-6">
      <h3 class="font-heading text-3xl md:text-[97px] leading-none no-underline">{SITE.phone}</h3>
      <div class="flex flex-col gap-1 justify-center">
        <a class="no-underline hover:underline underline-offset-2 text-base" href={`mailto:${SITE.email}`}>{SITE.email}</a>
        <a href={SITE.telegramContact.link} class="flex items-center no-underline hover:underline underline-offset-2 text-base">@sobakapavpro<Icon height="27px" width="27px" name="tabler:brand-telegram" class="ml-2" /></a>
        <a href={`https://wa.me/message/${SITE.whatsup}`} class="flex items-center no-underline hover:underline underline-offset-2 text-base">WhatsApp <Icon height="25px" width="25px" name="tabler:brand-whatsapp" class="ml-2" /></a> 
      </div>
    </div>
  </div>
</div>

<div class="bento-grid2 grid max-w-7xl mx-auto px-4 sm:px-6 mb-6 mt-6 gap-6">
   <div class="flex flex-col justify-between">
   <div class="flex flex-col">
        <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Отрасли</h2>
        
        <div class="flex flex-col md:flex-row justify-between mb-4 gap-6 dark:text-[--aw-color-text-light-default]">
            <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-2 gap-4">
              <li><a href="https://sobakapav.ru/portfolio#med">Медицина</a></li>
              <li><a href="https://sobakapav.ru/portfolio#prom">Промышленность</a></li>
              <li><a href="https://sobakapav.ru/portfolio#fin">Финансы</a></li>
              <li><a href="https://sobakapav.ru/portfolio#it">IT-продукты для бизнеса</a></li>
              <li><a href="https://sobakapav.ru/portfolio#ec">E-commerce</a></li>
            </ul> 
            <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-2 gap-4">
              <li><a href="https://sobakapav.ru/portfolio">Образование</a></li>
              <li><a href="https://sobakapav.ru/portfolio#gos">Госсектор и безопасность</a></li>
              <li><a href="https://sobakapav.ru/portfolio">Транспорт и туризм</a></li>
              <li><a href="https://sobakapav.ru/portfolio#complex">GUI устройств и приборов</a></li>
            </ul> 
        </div>
      </div>
      <h3 class="text-[52px] leading-none font-heading dark:text-[--aw-color-text-light-default] mb-6">Отраслевой опыт</h3>
      <div class="grid grid-3x3 ml-[-40px] md:ml-0">
         <div class="w-20 h-20 md:w-[169px] md:h-[149px] flex items-center justify-center">
           <a class="noir2-div relative" href="/portfolio/alfa-arm">
             <img src="/images/services/alfa.svg" width="36" height="56">
             <img src="/images/services/alfa2.svg" class="noir2 absolute top-0 left-0 z-100" width="36" height="56">
           </a></div>
         <div class="w-20 h-20 md:w-[169px] md:h-[149px] flex items-center justify-center">
            <a class="noir2-div relative" href="https://www.eduhund.ru/clients">
             <img src="/images/services/yandex.svg" width="38" height="56">
             <img src="/images/services/yandex2.svg" class="noir2 absolute top-0 left-0 z-100" width="38" height="56">
         </a></div>
         <div class="w-20 h-20 md:w-[169px] md:h-[149px] flex items-center justify-center">
            <a class="noir2-div relative" href="/portfolio/avito">
              <img src="/images/services/avito.svg" width="56" height="56">
              <img src="/images/services/avito2.svg" class="noir2 absolute top-0 left-0 z-100" width="56" height="56">
         </a></div>
         <div class="w-20 h-20 md:w-[169px] md:h-[149px] flex items-center justify-center">
            <a class="noir2-div relative" href="/portfolio/alfastrah-design">
              <img src="/images/services/alfa-strah.svg" width="56" height="56">
              <img src="/images/services/alfa-strah2.svg" class="noir2 absolute top-0 left-0 z-100" width="56" height="56">
         </a></div>
         <div class="w-20 h-20 md:w-[169px] md:h-[149px] flex items-center justify-center">
            <a class="noir2-div relative" href="/portfolio/tinkoff">
              <img src="/images/services/tinkoff.svg" width="56" height="56">
              <img src="/images/services/tinkoff2.svg" class="noir2 absolute top-0 left-0 z-100" width="56" height="56">
         </a></div>
         <div class="w-20 h-20 md:w-[169px] md:h-[149px] flex items-center justify-center">
            <a class="noir2-div relative" href="/portfolio/gazprom-neft">
              <img src="/images/services/gazprom.svg" width="36" height="60">
              <img src="/images/services/gazprom2.svg" class="noir2 absolute top-0 left-0 z-100" width="36" height="60">
         </a></div>
         <div class="w-20 h-20 md:w-[169px] md:h-[149px] flex items-center justify-center">
            <a class="noir2-div relative" href="/portfolio/sportmaster">
              <img src="/images/services/sportmaster3.svg" width="76" height="46">
              <img src="/images/services/sportmaster2.svg" class="noir2 absolute top-0 left-0 z-100" width="76" height="46">
         </a></div>
         <div class="w-20 h-20 md:w-[169px] md:h-[149px] flex items-center justify-center">
            <a class="noir2-div relative" href="/portfolio/Yota">
              <img src="/images/services/yota.svg" width="42" height="68">
              <img src="/images/services/yota2.svg" class="noir2 absolute top-0 left-0 z-100" width="42" height="68">
         </a></div>
         <div class="w-20 h-20 md:w-[169px] md:h-[149px] flex items-center justify-center">
              <a class="noir2-div relative" href="/portfolio/sberbank">
                <img src="/images/services/sberbank.svg" width="56" height="56">
                <img src="/images/services/sberbank2.svg" class="noir2 absolute top-0 left-0 z-100" width="56" height="56">
         </a></div>
      </div>
   </div>
   
   <CardSlider cases={['qiwi', 'gazprom-neft', 'pangeo', 'raisa', 'res', 'tis', 'tmh']} delay={6}/>
   
   <div class="gap-4  border border-[#BEBEBE]">
      <div class="flex justify-between mb-4">
        <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] dark:text-[--aw-color-pink] mb-4">Research & Development</h2>
        {/*<div class="bg-[#E6E6E6] dark:bg-[--aw-color-hund] px-5 py-[10px] flex flex-row align-center max-w-[167px] max-h-11 mt-[-12px] text-sm">
          <a href="/services">Экспертиза →</a>
        </div>*/}
      </div>
      
      <div class="flex flex-row gap-6 mt-6">
        <a class="flex flex-col no-underline" href="/publications"><div class="text-[52px] font-heading leading-none">100+</div><span class="underline underline-offset-2">статей об интерфейсах</span></a>
        <a class="flex flex-col no-underline" href="/cheatsheets"><div class="text-[52px] font-heading leading-none">100+</div><span class="underline underline-offset-2">шпрагалок по дизайну</span></a> 
        <a class="flex flex-col no-underline" href="https://eduhund.com/"><div class="text-[52px] font-heading leading-none">20+</div><span class="underline underline-offset-2">плагинов для Figma</span></a>
        <a class="flex flex-col no-underline" href="/books"><div class="text-[52px] font-heading leading-none">3</div><span class="underline underline-offset-2">книги про UX</span></a>
      </div>
      
      <div class="flex flex-row mt-12 items-center">
        <img src="/images/main/blob.svg" />
        <a href="https://www.eduhund.ru/" class="uppercase text-3xl md:text-[52px] font-heading ml-[-30px] z-[0]">Дизайн-задачник →</a>
      </div>
   </div>
</div>

<div class="bento-grid3 grid max-w-7xl mx-auto px-4 sm:px-6 mb-8 md:mb-8 mt-6 gap-6">
   <div class="gap-4 text-white flex flex-col">
      <h3 class="text-[52px] font-heading text-white leading-none">Вакансии →</h3>
      <a class="text-white mt-3 flex flex-row justify-between" href="https://sobakapav.ru/vacancy"><span>Менеджер UX-проектов</span><span>→</span></a>
      <a class="text-white mt-3 flex flex-row justify-between" href="https://sobakapav.ru/vacancy"><span>UX/UI дизайнер</span><span>→</span></a>
   </div>
   
   <div class="gap-4">
      
      <div class="flex justify-between mb-4">
        <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Публикации</h2>
        <div class="flex flex-row gap-6 mt-[-24px]">
          <a class="" href=""><div class=""><Image src="~/assets/images/services/vc.svg" height={64} alt="VC" /></div></a>
          <a class="" href=""><div class=""><Image src="~/assets/images/services/tg.svg" height={64} alt="Telegram" /></div></a> 
          <a class="" href=""><div class=""><Image src="~/assets/images/services/youtube.svg" height={64} alt="Youtube" /></div></a>
          
        </div>
      </div>
      
      <div class="flex justify-between mb-4 flex-col md:flex-row">
          <a href="/publications/figma" class="basis-0 grow">
            <h3 class="text-xl font-semibold dark:text-[--aw-color-text-light-default] mb-4">Figmа для заказчика</h3>
            <div class="text-[#929292] text-base">13 июля 2023 • Написали инструкцию-ликбез для участников проектов</div>
          </a>
          <a href="https://sobakapav.ru/publications/medical-interfaces" class="basis-0 grow">
            <h3 class="text-xl font-semibold dark:text-[--aw-color-text-light-default] mb-4">Специфика проектирования медицинских интерфейсов</h3>
            <div class="text-[#929292] text-base">6 мая 2022 • Как снизить риски и на что обратить внимание</div>
          </a> 
      </div>
      
   </div>
   
</div>

