---
import './SinglePost.less';
import { Icon } from 'astro-icon/components';
import { people } from '~/navigation';

import Image from '~/components/common/Image.astro';
import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';
import { Markdown } from '@astropub/md';
import Hund3 from '~/components/widgets/Hund3.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Features5 from '~/components/widgets/Features5.astro';
import RelatedPages from '~/components/portfolio/RelatedPages.astro';
import RelatedLinks from '~/components/portfolio/RelatedLinks.astro';
import Review from '~/components/portfolio/Review.astro';
import Number from '~/components/portfolio/Number.astro';

import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate, minuteCase } from '~/utils/utils';

const { post, next } = Astro.props;
const person = people[post.director.person];

---

<section class="py-0 mx-auto grow-0 shrink-0 single-post">
  <article>
  
    <Hund3
      classes={{
        main: 'pb-10 md:pb-10',
        subtitle: 'mb-0',
        container: 'max-w-7xl',
        subtitleContainer: 'max-w-7xl',
      }}
    >
      <Fragment slot="title">
        {post.title}
      </Fragment>
  
      <Fragment slot="subtitle">
       <div class="flex flex-col md:flex-row">
        <div class="max-w-3xl">{post.subtitle}</div>
        <div class="basis-0 grow">
          {post.tags.map(t => (
            <div class="text-[#9F9F9F]">
              #{t.tag}
            </div>
          ))}
        </div>
       </div>
      </Fragment>
    </Hund3>

    <div class="flex flex-col md:flex-row md:flex-wrap justify-between max-w-7xl mx-auto md:mx-auto px-6 pt-8 md:pt-12 sm:px-6 mb-6">
      <h2 class="text-5xl group font-heading mb-10">Три главных предмета в фокусе внимания</h2>
      <Features4
        columns={ 3 }
        items={ post.focuses?.map((item) => ({title: item.title, description: item.text})) }
        classes={}
        defaultIcon="tabler:circle-check-filled"
      />
      
      <div class="flex flex-col lg:flex-row flex-wrap w-full gap-16" >
        <div class="basis-0 grow-[2] w-full">
          <h2 class="text-5xl group font-heading mb-10">Например</h2>
          <RelatedPages 
            pages={post.cases.map((page) => ({collection: 'portfolio', excerpt: page.text, page: page.title?.toLowerCase()}))} 
            hideFields={{ tags: true, year: true }}
            styles={{main: 'gap-6 flex-nowrap', textBlock: ''}}
          />

          <div class="flex flex-col md:flex-row gap-6 my-16">
            <div class="flex flex-col gap-4 bg-[#E7EAEA] dark:bg-[--aw-color-bg-accent] p-8 grow basis-0 rounded-lg">
              <img width="28" height="38" src="/images/cheatsheets/good.svg">
              <h3 class="text-3xl group font-heading">Хороший образец</h3>
              <div class="flex flex-col blue-check-list gap-4">
                <Markdown.Inline of={post.goodExample.text} /> 
                <a href="{post.goodExample.link}">{post.goodExample.linktext}</a>               
              </div>
            </div>
            <div class="flex flex-col gap-4 bg-[#E7EAEA] dark:bg-[--aw-color-bg-accent] p-8 grow basis-0 rounded-lg">
              <img width="36" height="38" src="/images/cheatsheets/bad.svg">
              <h3 class="text-3xl group font-heading">Так делать не надо</h3>
              <div class="flex flex-col blue-check-list gap-4">
                <Markdown.Inline of={post.badExample.text} />                
              </div>
            </div>
          </div>
          
          <div>
            <h2 class="text-5xl group font-heading mb-10">Инструменты</h2>
            <Features5
              columns={ 2 }
              items={ post.instruments?.map((item) => ({title: item.title, description: item.text, image: item.img, link: item.link})) }
            />          
          </div>
          
          <div class="flex flex-col md:flex-row md:flex-nowrap gap-6 bg-[#E7EAEA] dark:bg-[--aw-color-bg-accent] p-8 mb-16 rounded-lg">
             <div class="basis-[104px] shrink-0 grow-0"><img width="104" height="104" class="rounded-[52px]" src={person.img} /></div>
             <div>
              <div><Markdown.Inline of={post.director.text} /> </div>
              <div class="text-sm text-[#9F9F9F] mt-2"><Markdown.Inline of={person.signature} /> </div>
             </div>
          </div>
          
          <div>
            <h2 class="text-5xl group font-heading mb-10">Другие шпаргалки</h2>
            <ul class="more">
              {next.map(n => (
                <li><a href={n.link}>{n.title}</a></li>
              ))}
            </ul>
          </div>
        </div>
        
        <div class="basis-0 grow w-full flex flex-col gap-10 order-last md:order-none">
          <div class="bg-[--aw-color-grey2] text-white dark:bg-[--aw-color-grey9] p-8 rounded-lg">
            <h2 class="advice group font-heading mb-10">5 <span>советов,</span><br> как делать<br> хорошо</h2>
            <Features4
              columns={ 1 }
              items={ post.advices?.map((item) => ({title: item.title, description: item.text})) }
              classes={{container: 'text-white', items: {counter: 'text-[--aw-color-pink]'}}}
              defaultIcon="tabler:circle-check-filled"
            />
          </div>
          <div class="bg-[url(/images/cheatsheets/eduhund-2.png)] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4">
            <h3 class="text-3xl group font-heading">Хотите у нас научиться?</h3>
            <p>1000+ упражнений по дизайну интерфейсов.</p>
            <a class="text-[--aw-color-accent]" href="https://eduhund.com">eduhund.com</a>
          </div> 
          <div class="flex flex-col gap-2 bg-[--aw-color-grey2] text-white dark:bg-[--aw-color-grey9] p-8 rounded-lg">
            <h3 class="text-3xl group font-heading">Ищете подрядчика или команду?</h3>
            А вот и мы:
            <div class="bg-[#048e86] px-5 py-[10px] max-w-[167px] rounded">
              <a href="mailto:we@sobakapav.ru" >Заказать проект</a>
            </div>
            <a href="mailto:we@sobakapav.ru" class="underline underline-offset-2 hover:text-[--aw-color-accent]">we@sobakapav.ru</a>
            <p>+7 (495) 191-92-81</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>     
  </article>
  
</section>
