---
import Layout from '~/layouts/PageLayout.astro';

import Hund3 from '~/components/widgets/Hund3.astro';
import Bread from '~/components/widgets/Bread.astro';
import Image from '~/components/common/Image.astro';
import TabComponent from '~/components/main/TabComponent.astro';
import LogoTabComponent2 from '~/components/main/LogoTabComponent2.astro';
import RelatedPages from '~/components/portfolio/RelatedPages.astro';
import RelatedLinks from '~/components/services/RelatedLinks.astro';
import HighlightedCases from "~/components/services/HighlightedCases.astro";
import Number from '~/components/portfolio/Number.astro';
import ReviewItem from '~/components/portfolio/ReviewItem.astro';
import UniversalSlider from '~/components/common/UniversalSlider.astro'

import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';

import { getPermalink } from '~/utils/permalinks';
import { getEntry } from 'astro:content';

import '~/components/main/Bento.less';

const metadata = {
  canonical: 'https://sobakapav.ru/services',
  title: `UX-аутстафф • Возьмем на себя все ваши дизайнерские задачи`,
  description:
    'Внешний отдел UX-специалистов: от продуктовых исследований до интерфейсов в html/css.',
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [
      {
        url: '~/assets/images/services.png',
        width: 1200,
        height: 630,
      },
    ],
    type: 'website',
  },
};
---

<Layout metadata={metadata}  hasSlider={true}>
  <Bread title="Аутстафф" />

  <!-- Hund3 Widget ******************* -->

  <Hund3>
    <Fragment slot="title">UX-аутстафф</Fragment>
    <Fragment slot="subtitle">
      Возьмемся за любые интерфейсные задачи: UI- и UX-дизайн, графический дизайн, продуктовые исследования. Впишемся в вашу команду, ускорим и упростим работу над продуктом.
    </Fragment>
  </Hund3>

  <div class="grid-outstaff grid max-w-7xl mx-auto px-4 sm:px-6 mb-6 pt-10 mt-[-60px] gap-6">
    <div class="gap-4">
      <h2 class="text-4xl font-bold mb-4">Внешний отдел UX-специалистов: от&nbspпродуктовых исследований до&nbspинтерфейсов в&nbsphtml/css</h2>
      
    </div>
    
    <div>
      <TabComponent button1="Дизайн" button2="Исследования">
        <Fragment slot="tab1">
          <h3 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-4 mt-10">Дизайн интерфейсов</h3>
          <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4">
            <li><a class="underline-offset-4 decoration-1" href="/services/ux-design">UX/UI-дизайн под ключ</a></li>
            <li><a class="underline-offset-4 decoration-1" href="/services/redesign">Точечный редизайн</a></li>
            <li><a class="underline-offset-4 decoration-1" href="/services/new-features">Добавление новой функциональности</a></li>
            <li><a class="underline-offset-4 decoration-1" href="/services/prototype">Прототип под инвестиции</a></li>
            <li><a class="underline-offset-4 decoration-1" href="/services/ui-redesign">UI-редизайн</a></li>
            <li><a class="underline-offset-4 decoration-1" href="/services/content-design">Контент-дизайн</a></li>
          </ul>
        </Fragment>
          
        <Fragment slot="tab2">
          <h3 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-4 mt-10">Исследования</h3>
          <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4 mt-4">
            <li><a class="underline-offset-4 decoration-1" href="/services/research">Продуктовое исследование</a></li>
            <li><a class="underline-offset-4 decoration-1" href="/services/ux-audit">UX-аудит</a></li>
          </ul>
        </Fragment>
      </TabComponent>
    </div>
    
    <div class="flex flex-col sm:flex-row justify-between gap-2 text-white">
      <div class="basis-0 grow">
        <Number 
          number="> 13 лет" 
          classes="mb-1.5 font-heading" 
          textClasses="text-xl sm:text-4xl" 
          numberClasses="text-xl sm:text-4xl text-[--aw-color-pink]" 
        />
        <p class="mb-1"><a href="/about">создаем, изучаем, улучшаем интерфейсы</a></p>
      </div>
      
      <div class="basis-0 grow">
        <Number 
          number="> 400 проектов" 
          classes="mb-1.5 font-heading" 
          textClasses="text-xl sm:text-4xl" 
          numberClasses="text-xl sm:text-4xl text-[--aw-color-pink]" 
        />
        <p class="mb-1"><a href="/portfolio">UX-дизайн, редизайн, продуктовые исследования</a></p>
      </div>
      
      <div class="basis-0 grow">
        <Number 
          number="> 150 кейсов" 
          classes="mb-1.5 font-heading" 
          textClasses="text-xl sm:text-4xl" 
          numberClasses="text-xl sm:text-4xl text-[--aw-color-pink]" 
        />
        <p class="mb-1"><a href="/portfolio">на основе реальных проектов</a></p>
      </div>
    </div>
    
  </div>
  
  <div class="grid grid-research max-w-7xl mx-auto px-4 sm:px-6 mb-6 gap-6">
    <div class="gap-4">
      <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Специалисты, которые вам нужны</h2>
      <p class="mb-4">За 13 лет мы собрали базу высоквалифицированных специалистов. </p>
      <p>Подберем дизайнеров, аналитиков, социологов, максимально знакомых с тематикой вашего проекта. Сложными и нестандартными задачами займутся эксперты с огромным опытом, на простые и рутинные поставим миддл-специалистов.</p>
    </div>
  
    <div class="bg-[#212121]">
      <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-pink] mb-2">Отвечаем по всем каналам: сразу человек и сразу по делу</h2>
      <div class="flex flex-col gap-6">
        <h3 class="font-heading text-3xl text-white md:text-[97px] lg:text-[52px] xl:text-[72px] leading-none no-underline">{SITE.phone}</h3>
        <div class="flex flex-row gap-1 justify-between text-white">
          <a class="no-underline hover:underline underline-offset-4 text-base" href={`mailto:${SITE.email}`}>{SITE.email}</a>
          <a href={SITE.telegramContact.link} class="flex items-center no-underline hover:underline underline-offset-4 text-base">@sobakapavpro<Icon height="27px" width="27px" name="tabler:brand-telegram" class="ml-2" /></a>
          <a href={`https://wa.me/message/${SITE.whatsup}`} class="flex items-center no-underline hover:underline underline-offset-4 text-base">WhatsApp <Icon height="25px" width="25px" name="tabler:brand-whatsapp" class="ml-2" /></a> 
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid-outstaff2 grid max-w-7xl mx-auto px-4 sm:px-6 mb-6 gap-6">
    <div>
      <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-6 mt-10">Варианты сотрудничества</h3>
      <RelatedPages 
        pages={[{collection: 'services', page: 'ux-outsource'}, {collection: 'services', page: 'product-team'}]}
        hideFields={{ tags: true, year: true }}
        styles={{main: 'flex-row', container: 'flex flex-row flex-wrap gap-6'}}
      />
    </div>
    
    
    <div class="flex flex-col justify-between">
      <div class="flex flex-col">
      
        <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-4">Отрасли</h2>
        <p class="mb-4">Мы подберем людей, уже знакомых с вашей отраслью. Медицина, финансы, e-commerce, тяжелая промышленность или академические образовательные проекты, — у нас в любом случае найдутся люди, уже работавшие над похожими интерфейсами.</p>
        <div class="flex flex-col sm:flex-row justify-start mb-4 gap-4 sm:gap-6 dark:text-[--aw-color-text-light-default]">
          <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4">
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#med">Медицина</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#prom">Промышленность</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#fin">Финансы</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#it">IT-продукты для бизнеса</a></li>
          </ul> 
          <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4">
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#ec">E-commerce</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#ed">Образование</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#gos">Госсектор и безопасность</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#log">Транспорт и туризм</a></li>
          </ul> 
        </div>
        
        <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-4 mt-8">Клиенты</h2>
        <LogoTabComponent2 />
      </div>
    </div>
  </div>
  
 <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-6 gap-2">
   <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-6">Примеры UX-аутсорса</h2>
   <RelatedPages 
     pages={[{collection: 'portfolio', page: 'alfastrah-design'}, {collection: 'portfolio', page: 'alfastrahhr'}, {collection: 'portfolio', page: 'alfa'}, {collection: 'portfolio', page: 'control-patent'}, {collection: 'portfolio', page: 'control-predpisanie'}, {collection: 'portfolio', page: 'data-solution'}, {collection: 'portfolio', page: 'control-forest'}, {collection: 'portfolio', page: 'control-mobile'}, {collection: 'portfolio', page: 'e-gorod-mobile'}, {collection: 'portfolio', page: 'novotelekom'}, {collection: 'portfolio', page: 'e-gorod-guide'}, {collection: 'portfolio', page: 'e-gorod'}, {collection: 'portfolio', page: 'anggell-2025'}, {collection: 'portfolio', page: 'anggell'}, {collection: 'portfolio', page: 'elma-bot'}, {collection: 'portfolio', page: 'elma'} ]}
     hideFields={{ tags: true, year: true }}
     styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
   />
 
   <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-6">Отзывы от постоянных заказчиков</h2>
   <UniversalSlider count={3} styles={{main: 'review-slider full-width'}}>
     <div class="review-card-odd">
     <ReviewItem
       title="АльфаСтрахование"
       text="Понравилось работать с «Собакой Павловой». Проработали сложные витиеватые сценарии, сформировали базовый набор компонентов для дизайн-системы, навели порядок в Фигме. Периодически продолжаем обращаться за помощью в проработке сложных мест в юзер-флоу. Рекомендую."
       person="Алексей Тушканов,"
       position="руководитель направления исследований и дизайна"
       styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
     />
     </div>
     <div class="review-card-even">
     <ReviewItem
       title="ANGGELL"
       text="Команда Собаки Павлова — одна из самых профессиональных команд для построения и улучшения цифровых сервисов (и не только). Особо ценю вас за то, что к вам можно обратиться на любой стадии проекта, и вы всегда найдете возможность помочь."
       person="Роман Лебедев,"
       position="Co-Founder / CEO"
       styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
     />
     </div>
     <div class="review-card-odd">
     <ReviewItem
       title="Электронный город"
       text="Сотрудничаем уже лет 6-7, за это время были разные проекты, многие с высокой степенью неопределенности с нашей стороны. Но результат всегда на высоте. Основа всего — аналитика и понимание конечной аудитории. Это сильно отличает СП от большинства студий, которые идут от картинки."
       person="Степан Антонов,"
       position="директор по маркетингу"
       styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
     />
     </div>
     <div class="review-card-even">
     <ReviewItem
       title="Газпром-нефть"
       text="О «Собаке» у нас сложилось отличное впечатление. Все работы были выполнены с опережением сроков, менеджер всегда был на связи и объяснял нам с коллегами каждый шаг в ходе исследования. Результат работ однозначно полезен."
       person="Татьяна Постникова,"
       position="менеджер проекта"
       styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
     />
     </div>
     <div class="review-card-odd">
     <ReviewItem
       title="Data Solution"
       text="Сотрудничество было продуктивным и полезным. Мы как заказчики поняли, как лучше формулировать требования к задачам такого рода и как дальше строить диалог. (Спойлер: заказчику тоже нужно много готовиться и работать, чтобы результат был достойный)."
       person="Екатерина Березина,"
       position="руководитель проектного офиса Data Solution"
       styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
     />
     </div>
     <div class="review-card-even">
     <ReviewItem
       title="ELMA"
       text="...В каждом из перечисленных кейсов реализации сложных внутренних бизнес-процессов помогает простота и интуитивная понятность интерфейса платформы. А возможность кастомизации и брендирования модулей делает систему нативной для конечного пользователя любой компании."
       person="Алексей Будин,"
       position="генеральный директор Elma"
       styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
     />
     </div>
   </UniversalSlider>
  
   <HighlightedCases
      classes={{ container: "pt-0 lg:pt-0 md:pt-0 max-w-2xl xl:max-w-7xl mx-auto mt-10 related-posts", heading: "text-3xl"}}
      title={"Примеры работы в продуктовой команде"}
      links={[{name: 'avicenna'}, {name: 'stroynastroy'}, {name: 'omnitopic'}, {name: 'algohelp'}, {name: 'fasting'}, {name: 'cindicator'} ]}
      collection="portfolio"
   />
   <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-6">Отзывы о продуктовой работе</h2>
   <UniversalSlider count={3} styles={{main: 'review-slider full-width'}}>
     <div class="review-card-odd">
     <ReviewItem
       title="АльфаСтрахование"
       text="Понравилось работать с «Собакой Павловой». Проработали сложные витиеватые сценарии, сформировали базовый набор компонентов для дизайн-системы, навели порядок в Фигме. Периодически продолжаем обращаться за помощью в проработке сложных мест в юзер-флоу. Рекомендую."
       person="Алексей Тушканов,"
       position="руководитель направления исследований и дизайна"
       styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
     />
     </div>
     <div class="review-card-even">
     <ReviewItem
       title="ANGGELL"
       text="Команда Собаки Павлова — одна из самых профессиональных команд для построения и улучшения цифровых сервисов (и не только). Особо ценю вас за то, что к вам можно обратиться на любой стадии проекта, и вы всегда найдете возможность помочь."
       person="Роман Лебедев,"
       position="Co-Founder / CEO"
       styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
     />
     </div>
     <div class="review-card-odd">
     <ReviewItem
       title="Электронный город"
       text="Сотрудничаем уже лет 6-7, за это время были разные проекты, многие с высокой степенью неопределенности с нашей стороны. Но результат всегда на высоте. Основа всего — аналитика и понимание конечной аудитории. Это сильно отличает СП от большинства студий, которые идут от картинки."
       person="Степан Антонов,"
       position="директор по маркетингу"
       styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
      />
      </div>
      <div class="review-card-even">
      <ReviewItem
        title="Газпром-нефть"
        text="О «Собаке» у нас сложилось отличное впечатление. Все работы были выполнены с опережением сроков, менеджер всегда был на связи и объяснял нам с коллегами каждый шаг в ходе исследования. Результат работ однозначно полезен."
        person="Татьяна Постникова,"
        position="менеджер проекта"
        styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
      />
      </div>
      <div class="review-card-odd">
      <ReviewItem
        title="Data Solution"
        text="Сотрудничество было продуктивным и полезным. Мы как заказчики поняли, как лучше формулировать требования к задачам такого рода и как дальше строить диалог. (Спойлер: заказчику тоже нужно много готовиться и работать, чтобы результат был достойный)."
        person="Екатерина Березина,"
        position="руководитель проектного офиса Data Solution"
        styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
      />
      </div>
      <div class="review-card-even">
      <ReviewItem
        title="Газпром-нефть"
        text="О «Собаке» у нас сложилось отличное впечатление. Все работы были выполнены с опережением сроков, менеджер всегда был на связи и объяснял нам с коллегами каждый шаг в ходе исследования. Результат работ однозначно полезен."
        person="Татьяна Постникова,"
        position="менеджер проекта"
        styles={{heading: 'sm:text-3xl xl:text-3xl mb-6'}}
      />
      </div>
    </UniversalSlider>
 
 </div>

</Layout>
