---
import Layout from '~/layouts/PageLayout.astro';

import Hund2 from '~/components/widgets/Hund2.astro';
import Hund3 from '~/components/widgets/Hund3.astro';
import Hund4 from '~/components/widgets/Hund4.astro';
import Bread from '~/components/widgets/Bread.astro';
import Image from '~/components/common/Image.astro';
import TabComponent from '~/components/main/TabComponent.astro';
import LogoTabComponent2 from '~/components/main/LogoTabComponent2.astro';
import RelatedPages from '~/components/portfolio/RelatedPages.astro';
import RelatedLinks from '~/components/services/RelatedLinks.astro';
import HighlightedCases from "~/components/services/HighlightedCases.astro";
import Number from '~/components/portfolio/Number.astro';
import ReviewItem from '~/components/portfolio/ReviewItem.astro';
import UniversalSlider from '~/components/common/UniversalSlider.astro'
import Features3 from '~/components/widgets/Features3.astro';
import FeaturesHex from '~/components/widgets/FeaturesHex.astro';

import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';

import { getPermalink } from '~/utils/permalinks';
import { getEntry } from 'astro:content';

import '~/components/main/Bento.less';

const metadata = {
  canonical: 'https://sobakapav.ru/services',
  title: `UX-аутстафф • Возьмем на себя все ваши дизайнерские задачи`,
  description:
    'Внешний отдел UX-специалистов: от продуктовых исследований до интерфейсов в html/css.',
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [
      {
        url: '~/assets/images/services.png',
        width: 1200,
        height: 630,
      },
    ],
    type: 'website',
  },
};
---

<Layout metadata={metadata}  hasSlider={true}>
  <Bread title="Аутстафф" />
  
  <Hund2
    image={{
      src: '~/assets/images/services/dev-team/dev-team.svg',
      alt: 'UX-аутстафф • Собака Павлова',
    }}
    imageSafari={{
      src: '~/assets/images/services/dev-team/dev-team.png',
      alt: 'UX-аутстафф • Собака Павлова',
    }}
    imageName="UX-аутстафф • Собака Павлова"
  >
    
    <Fragment slot="title">
      UX-аутстафф
    </Fragment>
    
    <Fragment slot="subtitle">
      Возьмемся за любые интерфейсные задачи: UI- и UX-дизайн, графический дизайн, продуктовые исследования. Впишемся в вашу команду, ускорим и упростим работу над продуктом.
    </Fragment>
    
  </Hund2>
  
  <section class="py-0 mx-auto grow-0 shrink-0">
     <article>

  <div class="flex flex-row flex-wrap text-base gap-2.5 mt-10 mb-20 px-4 md:px-6 mx-auto max-w-7xl text-[#9F9F9F]">
    <span>
      <a href="#1" class="underline underline-offset-2">Квалификация специалистов</a>
    </span><span> • </span>
    
    <span>
      <a href="#2" class="underline underline-offset-2">Организация работы</a>
    </span><span> • </span>
    
    <span>
      <a href="#3" class="underline underline-offset-2">Бизнес-ценность</a>
    </span><span> • </span>
    
    <span>
      <a href="#4" class="underline underline-offset-2">С нами работают годами</a>
    </span><span> • </span>
    
    <span>
      <a href="#5" class="underline underline-offset-2">Контакты</a>
      
  </div>
          
  <a id="1"></a>
  
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Квалификация специалистов</h2>
    <h3 class="font-heading text-4xl md:text-[52px] xl:text-[80px] leading-none no-underline mb-10">Специалисты, которые вам нужны</h3>
    <div class="flex flex flex-col lg:flex-row gap-10 lg:gap-20">
      <div class="basis-0 grow">
        <Features3
          columns={2}
          items={[{title: 'Сразу к делу', description: 'Получайте результат с первого дня, без долгих предисловий'}, {title: 'Любой уровень', description: 'Выбирайте специалистов подходящего грейда, от junior до art director'}, {title: 'Экспертиза в отрасли', description: 'Работайте с людьми, уже разобравшимися в нюансах вашей отрасли'}, {title: 'Знание продукта', description: 'Работатайте с командой, хорошо знакомой с вашим продуктом'}, {title: 'Команда рядом', description: 'Подключайте по необходимости продуктовых менеджеров и UX-аналитиков из нашей команды'},  {title: 'Как удобно', description: 'Рассчитывайте на умение наших специалистов работать в любом формате: Agile — Scrum — Kanban — водопад —...'},]}
          classes={{description: 'text-base', title: 'text-xl mb-2'}}
          defaultIcon="tabler:circle-check-filled"
        />  
      </div>
      <div class="basis-0 grow">
        <Image src="~/assets/images/persons.png" alt="Специалисты" class="grayscale" />
        <div class="flex justify-end">
        И многие другие
        </div>
        <h3 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mt-10 mb-2">Наши клиенты</h3>
          <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 ml-0 gap-y-4 gap-x-10">                       
            
            <div class="flex items-center justify-start">
               <a class="noir2-div relative" href="/portfolio#alfastrah">
                 <img src="/images/clients/alfastrah-long.svg" width="150" height="56">
            </a></div>
            <div class="flex items-center sm:justify-center">
               <a class="noir2-div relative" href="/portfolio#gazprom-neft">
                 <img src="/images/clients/gazprom-long.svg" width="150" height="56">
            </a></div>
            <div class="flex items-center sm:justify-end">
               <a class="noir2-div relative" href="/portfolio#anggell">
                 <img src="/images/clients/anggell.svg" width="150" height="56">
            </a></div>
            
            <div class="flex items-center sm:justify-start">
               <a class="noir2-div relative" href="/portfolio#ecity">
                 <img src="/images/clients/ecity-long.svg" width="150" height="56">
            </a></div>
            <div class="flex items-center sm:justify-center">
               <a class="noir2-div relative" href="/portfolio#control">
                 <img src="/images/clients/ds-long.svg" width="150" height="56">
            </a></div>
            <div class="flex items-center sm:justify-end">
               <a class="noir2-div relative" href="/portfolio#elma">
                 <img src="/images/clients/elma.svg" width="150" height="56">
            </a></div>
            
            <div class="flex items-center sm:justify-start">
               <a class="noir2-div relative" href="/portfolio#alfabank">
                 <img src="/images/clients/alfabank-long.svg" width="150" height="56">
            </a></div>
            
            <div class="flex items-center sm:justify-center">
               <a class="noir2-div relative" href="/portfolio/jeffit">
                 <img src="/images/clients/jeffit-long.svg" width="150" height="56">
            </a></div>
            <div class="flex items-center sm:justify-end">
               <a class="noir2-div relative" href="/portfolio#otvinta">
                 <img src="/images/clients/otvinta-long.svg" width="150" height="56">
            </a></div>
            
          </div> 
      </div>
    </div>
  </div>
  
  <div class="max-w-7xl mx-auto px-4 sm:px-6 mt-10 md:mt-8">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-6">Услуги</h2>
    <div class="flex flex flex-col lg:flex-row gap-10 lg:justify-between">
      <div class="bg-[--aw-color-grey9] py-5 pl-5 md:pt-10 md:pb-4 md:pl-10">
        <RelatedPages 
          pages={[{collection: 'services', page: 'ux-outsource'}]}
          hideFields={{ tags: true, year: true }}
          styles={{main: 'gap-6 flex-row-reverse justify-end', container: 'flex flex-row', textBlockOverride: 'mt-0 w-1/2 md:w-2/3 lg:w-[332px]', image: 'h-[400px] w-[200px] overflow-x-hidden'}}
          overrides={{imageSize: 400}}
        />
      </div>
       
      <div class="py-5 pl-5 md:pt-10 md:pb-4 md:pl-10 ">
        <RelatedPages 
          pages={[{collection: 'services', page: 'product-team'}]}
          hideFields={{ tags: true, year: true }}
          styles={{main: 'gap-6 flex-row-reverse justify-end', container: 'flex flex-row gap-6', textBlockOverride: 'mt-0 w-1/2 md:w-2/3 lg:w-[332px]', image: 'h-[400px] w-[200px] overflow-x-hidden'}}
          overrides={{imageSize: 400}}
        />
      </div>
    </div>
  
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-2 mt-10 md:mt-20 ">Примеры</h2>  
    <HighlightedCases
        classes={{ container: "pt-0 lg:pt-0 md:pt-0 max-w-2xl xl:max-w-7xl mx-auto my-5 md:mb-8  related-posts" }}
        title={""}
        links={[{name: 'alfastrah-design'}, {name: 'gazprom'}, {name: 'alfa-arm'}, {name: 'elma-bot'}, {name: 'anggell-2025'}, {name: 'broker'}, {name: 'ot-vinta'}, {name: 'jeffit'}, {name: 'e-gorod-mobile'}, {name: 'control-patent'}, {name: 'control-forest'},  ]}
        collection="portfolio"
        hideFields={{year: true}}
      />
  </div>
  
  <a id="2"></a>
  
  <div class=" flex flex-col max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-20">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Организация работы</h2>
    <div class="flex flex-row justify-between">
      <h3 class="font-heading text-4xl md:text-[52px] xl:text-[80px] leading-none no-underline mb-10">Работаем так, как удобно вам</h3>
      <div class="mt-1 hidden lg:block">
        <a href="https://www.atlassian.com/software/jira"><div class="h-[69px] lg:h-[48px] xl:h-[69px]"><Image src="~/assets/images/services/jira.svg" height={69} layout="constrained-height" alt="Jira" /></div>Jira</a>
      </div>
    </div>
    
    <FeaturesHex
      title="Без поиска,\n\nбез онбординга,\n\nбез головной боли"
      items={[{title: 'Специалисты под ключевые задачи', description: 'Забудьте о проблеме поиска узких дизайн-специалистов под конкретную задачу'}, {title: 'Целая команда — одним движением', description: 'Вместо найма и организации работы отдельных дизайнеров и аналитиков работайте со слаженной командой'}, {title: 'Там, где не хватает рук', description: 'Точечно интегрируйте специалистов в свою команду дизайна или разработки'}, {title: 'Интеграция без интеграции', description: 'Интегрируемся в ваши инструменты ведения проектов'}, {title: 'От стратегии до пикселей', description: 'Ставьте задачи как вам удобно: можно на уровне продукта и бизнеса, а можно и на уровне детализации UI'}]}
      classes = {{items: {description: 'text-xl mt-1'}}}
    />
  </div>

  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex flex flex-col lg:flex-row gap-10 lg:gap-20">
      <div class="basis-0 grow">
        <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Шпаргалка дня</h2>
        <a href="https://sobakapav.ru/cheatsheets/component-design">
          <div class="text-xl text-[#929292] border-b border-[#CBCBCB] pb-4 mb-4">Профили пользователей • Дизайн интерфейсов • Проектирование</div>
          <p class="text-xl mb-10">Как использовать профили пользователей в процессе дизайна интерфейса</p>
        </a>
        <div class="bg-[--aw-color-grey9] p-5 md:p-10 ">
          <a href="/portfolio#ecity">
          <ReviewItem

           text="Сотрудничаем уже лет 10, за это время были разные проекты, многие с высокой степенью неопределенности с нашей стороны. Но результат всегда на высоте.\n\nОснова всего — аналитика и понимание конечной аудитории. Это сильно отличает СП от большинства студий, которые идут от картинки."
           person="Степан Антонов,"
           position="директор по маркетингу"
           photo="~/assets/images/portfolio/e-gorod/person.png"
           styles={{heading: 'sm:text-3xl xl:text-3xl mb-4', signature: 'font-semibold text-lg', main: 'text-lg mb-6'}}
           photoPosition="bottom"
          />
          </a>
          <div class="flex items-center justify-start">
            <a class="noir2-div relative" href="/portfolio#ecity">
              <img src="/images/clients/ecity-long.svg" width="150" height="56">
          </a></div>
        </div> 
      </div>
      
      <div class="basis-0 grow">
        <div class="review-card-even">
          <a href="/portfolio#control">
          <ReviewItem

           text="Компанию «Собака Павлова» мы знаем почти 7 лет. Первое знакомство было у них в офисе. Мы приехали, поработали несколько дней напрямую со всей командой, которая позже вела наш проект. Открыто, без лишних формальностей и строго по делу.\n\nС тех пор мы постоянно сотрудничаем. Презентации, витрины, UX, UI для веб и мобильных приложений... И прежде всего уверенность в результате при передаче высокоуровневой, бизнесовой задачи делают совместную работу максимально полезной для нас и наших заказчиков.\n\nПродолжаем работать!)"
           person="Николай Грачев,"
           position="Управляющий партнер Data Solution"
           photo="~/assets/images/portfolio/control-patent/person.jpg"
           styles={{heading: 'sm:text-3xl xl:text-3xl mb-4', signature: 'font-semibold text-lg', main: 'text-lg mb-6'}}
           photoPosition="bottom"
           />
          </a>
          <div class="flex items-center justify-start">
            <a class="noir2-div relative" href="/portfolio#control">
              <img src="/images/clients/ds-long.svg" width="150" height="56">
            </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  
  <a id="3"></a>
    
  <div class="max-w-7xl mx-auto px-4 sm:px-6 mt-10 md:mt-20">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Бизнес-ценность</h2>
    <h3 class="font-heading text-4xl md:text-[52px] xl:text-[80px] leading-none no-underline mb-10">Делимся опытом, а не просто рисуем</h3>
    <div class="flex flex flex-col lg:flex-row gap-10 lg:gap-20">
      <div class="basis-0 grow">
      <Features3
        columns={2}
        items={[{title: 'Пользуйтесь нашей экпертизой', description: 'Используйте экспертизу, полученную нами на других проектах'}, {title: 'Пользуйтесь нашим опытом', description: 'Перенимайте опыт и экспертизу наших дизайнеров по ходу работы над вашими задачами'}, {title: 'Экономьте', description: 'Платите только за результат, не за рабочее время с перекурами'}]}
        classes={{description: 'text-base', title: 'text-xl'}}
        defaultIcon="tabler:circle-check-filled"
      /> 
      </div> 
      <div class="bg-[#212121] text-white p-5 md:p-10 class="basis-0 grow"">
        <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-pink] mb-6">Отрасли</h2>
        <div class="flex flex-col sm:flex-row justify-start mb-4 gap-4 sm:gap-6 dark:text-[--aw-color-text-light-default]">
          <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4">
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#med">Медицина</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#prom">Промышленность</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#fin">Финансы</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#it">IT-продукты для бизнеса</a></li>
          </ul> 
          <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4">
             <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#ec">E-commerce</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#ed">Образование</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#gos">Госсектор и безопасность</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#log">Транспорт и туризм</a></li>
          </ul> 
        </div>
      </div>
    </div>
  </div>
  
  <a id="4"></a>
  
  <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-12 mt-10 md:mt-20">
   <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">С нами работают годами</h2>
   <h3 class="font-heading text-4xl md:text-[52px] xl:text-[80px] leading-none no-underline mb-2">Проверено временем, подтверждено проектами</h3>  
   <HighlightedCases
      classes={{ container: "pt-0 lg:pt-0 md:pt-0 max-w-2xl xl:max-w-7xl mx-auto related-posts", heading: "text-4xl"}}

      links={[{isSpecial: true, title: 'IT-решения для автоматизации контроля', text: 'C командой Data Solution мы сделали полтора десятка проектов за несколько лет.', img: '~/assets/images/portfolio/cards/control-mobile.svg', link: '/portfolio#control '}, {isSpecial: true, title: 'Корпоративные интерфейсы', text: 'У «АльфаСтрахования», конечно, есть и свой UX-отдел. Но его регулярно требуется усилить.', img: '~/assets/images/portfolio/cards/alfastrah-hr.svg', link: '/portfolio#alfastrah'}, {isSpecial: true, title: 'Внутренние продукты компании', text: 'Хоть нам и пришлось всякий раз выигрывать тендер, сделали серию проектов для «Газпрома» как UX-отдел на аутсорсе.', img: '~/assets/images/portfolio/cards/gazprom.svg', link: '/portfolio#gazprom'}, {isSpecial: true, title: 'Региональный интернет-провайдер', text: 'С командой «Электронного города» мы сотрудничаем более десяти лет.', img: '~/assets/images/portfolio/cards/ecity-pril.svg', link: '/portfolio#ecity '}]}
      
   />
   
   <a id="5"></a>
   
   <div class="bg-[#212121] p-5 md:p-10 mt-2 mb:mt-8">
        <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-pink] mb-4">Референсы по запросу</h2>
        <div class="flex flex-col lg:flex-row gap-6 mb-5 md:mb-10">
          <h3 class="font-heading text-3xl text-white md:text-[97px] lg:text-[52px] xl:text-[86px] leading-none no-underline">{SITE.phone}</h3>
          <div class="flex flex-col gap-1 justify-center text-white">
            <a class="no-underline hover:underline underline-offset-4 text-base" href={`mailto:${SITE.email}`}>{SITE.email}</a>
            <a href={SITE.telegramContact.link} class="flex items-center no-underline hover:underline underline-offset-4 text-base">@sobakapavpro<Icon height="27px" width="27px" name="tabler:brand-telegram" class="ml-2" /></a>
            <a class="no-underline hover:underline underline-offset-4 text-base" href="https://drive.google.com/file/d/10KQmsKqpwTGowSKEy_9YpZ6BvsztXjUJ/view?usp=sharing">Реквизиты в PDF</a>
          </div>
        </div>
   </div>
   </article>
 </section>

</Layout>
