---
import Layout from '~/layouts/PageLayout.astro';

import Hund2 from '~/components/widgets/Hund2.astro';
import Hund3 from '~/components/widgets/Hund3.astro';
import Hund4 from '~/components/widgets/Hund4.astro';
import Bread from '~/components/widgets/Bread.astro';
import Image from '~/components/common/Image.astro';
import TabComponent from '~/components/main/TabComponent.astro';
import LogoTabComponent2 from '~/components/main/LogoTabComponent2.astro';
import RelatedPages from '~/components/portfolio/RelatedPages.astro';
import RelatedLinks from '~/components/services/RelatedLinks.astro';
import HighlightedCases from "~/components/services/HighlightedCases.astro";
import ReviewItem from '~/components/portfolio/ReviewItem.astro';
import UniversalSlider from '~/components/common/UniversalSlider.astro'
import Features3 from '~/components/widgets/Features3.astro';
import Features4 from '~/components/widgets/Features4.astro';
import FeaturesHex from '~/components/widgets/FeaturesHex.astro';
import SimpleSlider from '~/components/services/SimpleSlider.astro';
import HighlightedCases from '~/components/services/HighlightedCases.astro';

import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';

import { getPermalink } from '~/utils/permalinks';
import { getEntry } from 'astro:content';

import '~/components/main/Bento.less';

const metadata = {
  canonical: 'https://sobakapav.ru/services',
  title: `Исследования • Качественные и количественные`,
  description:
    'Проводим качественные, количественные исследования, пользовательские тестирования, UX-аудиты.',
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [
      {
        url: '~/assets/images/ux-research.png',
        width: 1200,
        height: 630,
      },
    ],
    type: 'website',
  },
};
---

<Layout metadata={metadata} hasSlider={true}>
  <Bread title="Исследования" />

  <Hund4
      image={{
        src: '~/assets/images/services/researches.svg',
        alt: 'Исследования • Собака Павлова',
      }}
      imageSafari={{
        src: '~/assets/images/services/researches.png',
        alt: 'Исследования • Собака Павлова',
      }}
      imageName="Исследования • Собака Павлова"
  >
    <Fragment slot="title">Исследования.<br/>Качественные и количественные</Fragment>
  </Hund4>
  
  <section class="py-0 mx-auto grow-0 shrink-0">
       <article>
  
    <div class="flex flex-row flex-wrap text-base gap-2.5 mt-10 mb-20 px-4 md:px-6 mx-auto max-w-7xl text-[#9F9F9F]">
      <span>
        <a href="#1" class="underline underline-offset-2">Наши клиенты</a>
      </span><span> • </span>
      
      <span>
        <a href="#2" class="underline underline-offset-2">Подход</a>
      </span><span> • </span>
      
      <span>
        <a href="#3" class="underline underline-offset-2">Услуги</a>
      </span><span> • </span>
      
      <span>
        <a href="#4" class="underline underline-offset-2">Результат</a>
      </span><span> • </span>
      
      <span>
        <a href="#5" class="underline underline-offset-2">Контакты</a>
        
    </div>
            
    <a id="1"></a>

  <div class="grid bento-grid5 max-w-7xl mx-auto px-4 sm:px-6 mb-6 lg:mb-20 pt-10 lg:mt-[-40px] gap-6">
    <div class="">
      <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-pink] mb-6">Быстро. Профессионально. Практично</h2>
      <div class="flex flex-col gap-6">
        <h3 class="font-heading text-4xl lg:text-[52px] text-white leading-none no-underline">Исследуем IT-продукты с ориентацией на бизнес-результат</h3>
        <div class="flex flex-row gap-1 justify-between text-white">
           <Features3
             columns={2}
             items={[ 'Профессиональные исследователи-социологи', 'Более 100 исследований за 13 лет' ]}
             classes={{description: 'text-white text-xl', title: 'text-white', icon: 'text-white'}}
             defaultIcon="tabler:circle-check-filled"
           />
        </div>
      </div>
    </div>
    
    <div class="flex flex-col justify-between">
      <div class="">
        <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4 lg:mb-1">Наши клиенты</h2>
        <div class="grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-2 ml-0 gap-y-6 gap-x-10 mb-10">                       
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/gazprom-neft">
               <img src="/images/clients/gazprom-long.svg" width="150" height="56">
          </a></div>
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/sportmaster">
               <img src="/images/clients/sportmaster-long.svg" width="200" height="56">
          </a></div>
               
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio">
               <img src="/images/clients/x5-long.svg" width="200" height="56">
          </a></div>     
          <div class="flex items-center justify-end">
             <a class="noir2-div relative" href="/portfolio/avito">
               <img src="/images/clients/avito-long.svg" width="200" height="56">
          </a></div>
          
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/qiwi">
               <img src="/images/clients/qiwi-long.svg" width="200" height="56">
          </a></div>
          <div class="flex items-center justify-end">
             <a class="noir2-div relative" href="/portfolio/medmarket">
               <img src="/images/clients/medmarket.svg" width="200" height="56">
          </a></div>
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/simetra">
               <img src="/images/clients/simetra.svg" width="200" height="56">
          </a></div>
          <div class="flex items-center justify-end">
             <a class="noir2-div relative" href="/portfolio/lab4u">
               <img src="/images/clients/lab4u.svg" width="200" height="56">
          </a></div>
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/onesoil">
               <img src="/images/clients/onesoil.svg" width="200" height="56">
          </a></div>
          <div class="flex items-center justify-end">
             <a class="noir2-div relative" href="/portfolio/etm">
               <img src="/images/clients/etm.svg" width="200" height="56">
          </a></div>
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/zapovednik">
               <img src="/images/clients/zapovednik.svg" width="200" height="56">
          </a></div>
          <div class="flex items-center justify-end">
             <a class="noir2-div relative" href="/portfolio/kapital">
               <img src="/images/clients/kapital.svg" width="200" height="56">
          </a></div>
        </div>  
      </div>
      <div class="flex justify-end">
        <div class="text-xl font-heading tracking-widest leading-none bg-[--aw-color-grey9] px-5 py-[10px] flex flex-row align-center max-w-[167px] max-h-11">
          <a href="/ux-outstaff">Портфолио →</a>
        </div>
      </div>
    </div>
    
    <div class="flex flex-col md:flex-row gap-4">
      <div class="bg-[--aw-color-grey9] p-5 md:p-10 text-xl">
        <h3 class="font-heading text-4xl lg:text-[52px] leading-none mb-4">Порекомендуем</h3>
        оптимальный формат исследования под вашу задачу
      </div>
      <div class="bg-[--aw-color-grey9] p-5 md:p-10 text-xl">
        <h3 class="font-heading text-4xl lg:text-[52px] leading-none mb-4">Выстроим</h3>
        дизайн исследования с ориентацией на улучшение ваших метрик
      </div>
    </div>  
  </div>
  
  <a id="2"></a>
  
  <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-6 lg:mb-20 mt-16">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Подход</h2>
    <h3 class="font-heading text-4xl md:text-[52px] xl:text-[80px] leading-none no-underline mb-4 lg:mb-10">Каждой ситуации в продукте<br/>— свои виды исследований</h3>
    <div class="flex flex-col md:flex-row gap-6 lg:gap-10">
    <div class="mt-6 lg:mt-10">
      <h3 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-6">Ваша задача</h3>
      <Features4
          title=""
          columns={ 1 }
          items={[
            {
              title: 'Создать новый продукт\n\n или интерфейс',
              description:
                '- изучаем рынок\n- изучаем аудиторию\n- изучаем привычные интерфейсы',
            },
            {
              title: 'Системно поработать\n\n над метриками продукта',
              description:
                '',
            },
            {
              title: 'Улучшить существующий продукт или интерфейс',
              description:
                '- аудитим ваш продукт\n- аудитим ваш интерфейс\n- проверяем гипотезы на людях',
            },
          ]}
          classes={{description: 'text-xl'}}
          defaultIcon="tabler:circle-check-filled"
        /> 
      </div>
      <div class="bg-[--aw-color-grey9] p-5 md:p-10">
        <h3 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-6">Наши методы</h3>
        <ul class="flex flex-col text-xl leading-[26px] gap-4">
          <li>Поиск респондентов</li>
          <li>Полевое наблюдение</li>
          <li>Дневниковое исследование</li>
          <li>Тайный покупатель</li>
          <li>Поисковое интервью</li>
          <li>Модерируемое и немодерируемое тестирование</li>
          <li>Desk research</li>
          <li>Опросы</li>
          <li>Когортный анализ</li>
          <li>Бенчмаркинг</li> 
        </ul>
      </div>
      <div class="mt-6 lg:mt-10">
        <h3 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-6">Как анализируем</h3>
        <ul class="flex flex-col text-xl leading-[26px] gap-4 mb-10">
          <li>Анализ данных по метрикам</li>
          <li>Статистическая обработка количественных данных</li>
          <li>Тематическое кодирование качественных данных</li>
          <li>AI-обработка материалов исследований</li>
          <li>Формулирование и проверка гипотез</li>
        </ul>
        <div>
          <h3 class="text-xl font-heading tracking-widest text-[--aw-color-hund] mb-6">Инструменты</h3>
          <div class="flex flex-row justify-between md:justify-end lg:justify-between md:gap-8 lg:gap-0">
            <a href="https://www.figma.com"><div class="h-[69px] lg:h-[48px] xl:h-[69px]"><Image src="~/assets/images/services/figma.svg" height={69} layout="constrained-height" alt="Figma" /></div></a>
            <a href="https://react.dev/"><div class="h-[69px] lg:h-[48px] xl:h-[69px]"><Image src="~/assets/images/services/react.svg" height={69} layout="constrained-height" alt="React" /></div></a> 
            <a href="https://ant.design/"><div class="h-[69px] lg:h-[48px] xl:h-[69px]"><Image src="~/assets/images/services/ant.svg" height={69} layout="constrained-height" alt="Ant" /></div></a>
            <a href="https://www.typescriptlang.org/"><div class="h-[69px] lg:h-[48px] xl:h-[69px]"><Image src="~/assets/images/services/typescript.svg" height={69} layout="constrained-height" alt="TypeScript" /></div></a>
          </div>
        </div> 
      </div>
    </div>
  </div>
  
  <a id="3"></a>
  
  <div class="max-w-7xl mx-auto px-4 sm:px-6 mt-10 md:mt-20">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Услуги</h2>
    <div class="flex flex flex-col lg:flex-row gap-10 lg:justify-between">
      <div class="bg-[--aw-color-grey9] py-5 pl-5 md:pt-10 md:pb-4 md:pl-10">
        <RelatedPages 
          pages={[{collection: 'services', page: 'research'}]}
          hideFields={{ tags: true, year: true }}
          styles={{main: 'gap-6 flex-row-reverse justify-end', container: 'flex flex-row', textBlockOverride: 'mt-0 w-1/2 md:w-2/3 lg:w-[332px]', image: 'h-[400px] w-[200px] overflow-x-hidden'}}
          overrides={{imageSize: 400}}
        />
      </div>
       
      <div class="py-5 pl-5 md:pt-10 md:pb-4 md:pl-10 ">
        <RelatedPages 
          pages={[{collection: 'services', page: 'ux-audit'}]}
          hideFields={{ tags: true, year: true }}
          styles={{main: 'gap-6 flex-row-reverse justify-end', container: 'flex flex-row gap-6', textBlockOverride: 'mt-0 w-1/2 md:w-2/3 lg:w-[332px]', image: 'h-[400px] w-[200px] overflow-x-hidden'}}
          overrides={{imageSize: 400}}
        />
      </div>
    </div>
  </div>
  
  <a id="4"></a>
  
  <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-6 mt-10 lg:mt-20">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Результат</h2>
    <h3 class="font-heading text-4xl md:text-[52px] xl:text-[80px] leading-none no-underline mb-10">Что вы получите?</h3>
    <div class="grid bento-grid6 gap-4">
      <Features3
        columns={2}
        items={[{title: 'Исследование пользователей и контекста', description: '- Портреты пользователей\n- JTBD\n- User stories\n- Модели информационных ожиданий\n- AI-бот для работы с результатами (CJM Guru)'}, {title: 'Карты пути и сценарии', description: '- CJM (Customer Journey Map)\n- UJM (User Journey Map)\n- EJM (Employee Journey Map)\n- Сценарии взаимодействия'}, {title: 'Аналитика и сравнение', description: '- Сравнительная таблица конкурентного анализа\n- Результаты замера юзабилити метрик\n- Продуктовые матрицы'}, {title: 'Архитектура продукта', description: '- Информационно-архитектурная карта\n- Карта интерфейсных фокусов'},]}
        classes={{description: 'text-base', title: 'text-xl mb-2'}}
        defaultIcon="tabler:circle-check-filled"
      />  
      <div class="bg-[#212121] text-white p-5 md:p-10">
        <h3 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-pink] mb-6">Шпаргалки</h3>
        <ul class="flex flex-col text-base underline underline-offset-4 gap-4">
          <li><a class="underline-offset-4 decoration-1" href="/cheatsheets/ux-analytics-in-interface-design">Как использовать UX-аналитику в дизайне интерфейсов</a></li>
          <li><a class="underline-offset-4 decoration-1" cheatsheets/respondents-for-ux-research">Как собрать респондентов для UX-исследования</a></li>
          <li><a class="underline-offset-4 decoration-1" href="/cheatsheets/interface-audit">Как провести аудит интерфейса</a></li>
          <li><a class="underline-offset-4 decoration-1" href="/cheatsheets/cjm-in-interface-design">Как использовать CJM в UX-дизайне</a></li>
          <li><a class="underline-offset-4 decoration-1" href="/cheatsheets/jtbd-in-interface-design">Как использовать JTBD в UX-дизайне</a></li>
          <li><a class="underline-offset-4 decoration-1" href="/cheatsheets/custom-device-interface-testing">Как тестировать макеты не компьютерного интерфейса</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-6 gap-2 mt-10">
        <HighlightedCases
          classes={{ container: "pt-0 lg:pt-0 md:pt-0 max-w-2xl xl:max-w-7xl mx-auto px-4 sm:px-2 my-5 md:mb-8 related-posts" }}
          title={""}
          links={[{name: 'gazprom-neft'}, {name: 'gazprom-services'}, {name: 'qiwi'}, {name: 'avito'}, {name: 'broker'}, {name: 'lab4u'}, {name: 'joono-ai'}, {name: 'medmarket'}, {name: 'zapovednik'}, {name: 'simetra'}, {name: 'etm'}, {name: 'onesoil'}, {name: 'goodwood'}, {name: 'sportmaster'}, {name: 'kapital'}, {name: 'electronika'}, {name: 'bercut'}, {name: 'documedd'}, {name: 'bibi'}, {name: 'solar-staff'} ]}
          collection="portfolio"
          hideFields={{year: true}}
        />
    
    <a id="5"></a>
    
    <div class="bg-[#212121] p-5 md:p-10">
       <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-pink] mb-4">Главный результат — знание о ваших клиентах, с которым можно работать</h2>
       <div class="flex flex-col lg:flex-row gap-6 mb-5 md:mb-10">
         <h3 class="font-heading text-3xl text-white md:text-[97px] lg:text-[52px] xl:text-[86px] leading-none no-underline">{SITE.phone}</h3>
         <div class="flex flex-col gap-1 justify-center text-white">
           <a class="no-underline hover:underline underline-offset-4 text-base" href={`mailto:${SITE.email}`}>{SITE.email}</a>
           <a href={SITE.telegramContact.link} class="flex items-center no-underline hover:underline underline-offset-4 text-base">@sobakapavpro<Icon height="27px" width="27px" name="tabler:brand-telegram" class="ml-2" /></a>
           <a class="no-underline hover:underline underline-offset-4 text-base" href="https://drive.google.com/file/d/10KQmsKqpwTGowSKEy_9YpZ6BvsztXjUJ/view?usp=sharing">Реквизиты в PDF</a> 
         </div>
       </div>
     </div>
  </div>
    
    </article>
  </section> 
</Layout>
