---
import Layout from '~/layouts/PageLayout.astro';

import Hund3 from '~/components/widgets/Hund3.astro';
import Bread from '~/components/widgets/Bread.astro';
import Image from '~/components/common/Image.astro';
import TabComponent from '~/components/main/TabComponent.astro';
import LogoTabComponent2 from '~/components/main/LogoTabComponent2.astro';
import RelatedPages from '~/components/portfolio/RelatedPages.astro';
import RelatedLinks from '~/components/services/RelatedLinks.astro';
import HighlightedCases from "~/components/services/HighlightedCases.astro";

import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';

import { getPermalink } from '~/utils/permalinks';
import { getEntry } from 'astro:content';

import '~/components/main/Bento.less';

const metadata = {
  canonical: 'https://sobakapav.ru/services',
  title: `UX-исследования • Качественные, количественные, пользовательские тестирования, UX-аудиты`,
  description:
    'Проводим качественные, количественные исследования, пользовательские тестирования, UX-аудиты.',
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [
      {
        url: '~/assets/images/ux-research.png',
        width: 1200,
        height: 630,
      },
    ],
    type: 'website',
  },
};
---

<Layout metadata={metadata}>
  <Bread title="Аутстафф" />

  <!-- Hund3 Widget ******************* -->

  <Hund3>
    <Fragment slot="title">Продуктовые исследования и&nbspаудиты</Fragment>
    <Fragment slot="subtitle">
      Проводим качественные, количественные исследования, пользовательские тестирования, UX-аудиты. Максимально полная картина поведения пользователей позволит вам сфокусировать и обосновать инвестиции.
    </Fragment>
  </Hund3>

  <div class="grid grid-research max-w-7xl mx-auto px-4 sm:px-6 mb-6 pt-10 mt-[-60px] gap-6">
    <div class="gap-4">
      <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Качественные исследования</h2>
      <p class="mb-4">Интервьюируем пользователей, находим ответы на ваши вопросы о их певедении, составляем наглядную CJM.</p>
      <p>Исследования проводят профессиональные социологи с опытом работы в дизайн-проектах.</p>
    </div>

    <div class="bg-[#212121]">
      <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-pink] mb-2">Отвечаем по всем каналам: сразу человек и сразу по делу</h2>
      <div class="flex flex-col gap-6">
        <h3 class="font-heading text-3xl text-white md:text-[97px] lg:text-[52px] xl:text-[72px] leading-none no-underline">{SITE.phone}</h3>
        <div class="flex flex-row gap-1 justify-between text-white">
          <a class="no-underline hover:underline underline-offset-4 text-base" href={`mailto:${SITE.email}`}>{SITE.email}</a>
          <a href={SITE.telegramContact.link} class="flex items-center no-underline hover:underline underline-offset-4 text-base">@sobakapavpro<Icon height="27px" width="27px" name="tabler:brand-telegram" class="ml-2" /></a>
          <a href={`https://wa.me/message/${SITE.whatsup}`} class="flex items-center no-underline hover:underline underline-offset-4 text-base">WhatsApp <Icon height="25px" width="25px" name="tabler:brand-whatsapp" class="ml-2" /></a> 
        </div>
      </div>
    </div>
    
    <div class="gap-4">
      <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-pink] mb-2">Количественные исследования</h2>
      <p class="text-white">Замеряем метрики: SUM (Single Usability Metric), SEQ (Single Ease Question), CES (Customer Effort Score), CSAT (Customer Satisfaction Score), SUS (System Usability Scale), UMUX-lite (Usability Metric for User Experience lite) и др.</p>
    </div>
    
    <div class="gap-4">
      <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Аутстафф</h2>
      <p class="mb-4">Внешний отдел UX-специалистов: от&nbspпродуктовых исследований до&nbspинтерфейсов в&nbsphtml/css.</p>
      <div class="text-xl text-white font-heading tracking-widest leading-none bg-[#212121] px-5 py-[10px] flex flex-row align-center max-w-[167px] max-h-11">
        <a href="/ux-outstaff">Подробнее →</a>
      </div>
    </div>
    
  </div>
  
  <div class="grid-research2 grid max-w-7xl mx-auto px-4 sm:px-6 mb-6 gap-2">
    <div>
      <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-4 mt-8">Услуга</h3>
      <RelatedPages 
        pages={[{collection: 'services', page: 'research'}]}
        hideFields={{ tags: true, year: true }}
        styles={{main: 'flex-row', container: 'flex flex-row flex-wrap gap-6'}}
      />
    </div>
    
    <div>
      <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-4 mt-8">Примеры продуктовых исследований</h3>
      <RelatedPages 
        pages={[{collection: 'portfolio', page: 'medmarket'}, {collection: 'portfolio', page: 'gazprom-neft'}, {collection: 'portfolio', page: 'avito'}, {collection: 'portfolio', page: 'bercut'}, {collection: 'portfolio', page: 'qiwi'}, {collection: 'portfolio', page: 'sportmaster'} ]}
        hideFields={{ year: true }}
        styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
      />
      
    </div>
    
    <div>
      <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-4 mt-8">Услуга</h3>
      <RelatedPages 
        pages={[{collection: 'services', page: 'ux-audit'}]}
        hideFields={{ tags: true, year: true }}
        styles={{main: 'flex-row', container: 'flex flex-row flex-wrap gap-6'}}
      />
    </div>
    
    <div>
      <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-4 mt-8">Примеры UX-аудитов</h3>
      <RelatedPages 
        pages={[{collection: 'portfolio', page: 'lab4u'}, {collection: 'portfolio', page: 'zapovednik'}, {collection: 'portfolio', page: 'simetra'}, {collection: 'portfolio', page: 'etm'}, {collection: 'portfolio', page: 'onesoil'}, {collection: 'portfolio', page: 'documedd'}]}
        hideFields={{ year: true }}
        styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
      />
      
    </div>
    
  </div>
  
  <div class="grid-outstaff2 grid max-w-7xl mx-auto px-4 sm:px-6 mb-6 gap-8">
     <div>
        <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-4 mt-10">Отрасли</h2>        
        <div class="flex flex-col sm:flex-row justify-start mb-4 gap-4 sm:gap-6 dark:text-[--aw-color-text-light-default]">
          <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4">
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#med">Медицина</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#prom">Промышленность</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#fin">Финансы</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#it">IT-продукты для бизнеса</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#ec">E-commerce</a></li>
          </ul> 
          <ul class="flex flex-col text-xl leading-[26px] underline underline-offset-4 gap-4">
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#ed">Образование</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#gos">Госсектор и безопасность</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#log">Транспорт и туризм</a></li>
            <li><a class="underline-offset-4 decoration-1" href="https://sobakapav.ru/portfolio#complex">GUI устройств и приборов</a></li>
          </ul> 
        </div>
     </div>
     
     <div>
       <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-4">Клиенты</h2>
       <div class="grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-3 ml-0 gap-y-8 mt-8 lg:mt-0">
               <div class="flex items-start justify-start">
                <a class="noir2-div relative" href="https://sobakapav.ru/portfolio/gazprom-neft">
                  <img src="/images/clients/gazprom.svg" width="36" height="60">
                  <img src="/images/clients/gazprom4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="36" height="60">
                  <img src="/images/clients/gazprom2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="36" height="60">
              </a></div>
              <div class="flex items-start justify-start">
                 <a class="noir2-div relative" href="/portfolio/avito">
                   <img src="/images/clients/avito.svg" width="56" height="56">
                   <img src="/images/clients/avito4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="56" height="56">
                   <img src="/images/clients/avito2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="56" height="56">
              </a></div>
              <div class="flex items-center justify-start">
                  <a class="noir2-div relative" href="/portfolio/pushkin-digital">
                    <img src="/images/clients/itmo.svg" width="150" height="56">
                    <img src="/images/clients/itmo4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="150" height="56">
                    <img src="/images/clients/itmo2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="150" height="56">
                  </a></div>
              
              <div class="flex items-start justify-start">
                 <a class="noir2-div relative" href="/portfolio/sportmaster">
                   <img src="/images/clients/sportmaster.svg" width="76" height="46">
                   <img src="/images/clients/sportmaster4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="76" height="46">
                   <img src="/images/clients/sportmaster2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="76" height="46">
              </a></div>
              <div class="flex items-center justify-start">
                     <a class="noir2-div relative" href="/portfolio/qiwi">
                        <img src="/images/clients/qiwi.svg" width="56" height="56">
                        <img src="/images/clients/qiwi4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="56" height="56">
                        <img src="/images/clients/qiwi2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="56" height="56">
              </a></div>
              <div class="flex items-center justify-start">
                    <a class="noir2-div relative" href="/portfolio/prozhito">
                      <img src="/images/clients/prozhito.svg" width="160" height="70">
                      <img src="/images/clients/prozhito4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="160" height="70">
                      <img src="/images/clients/prozhito2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="160" height="70">
                    </a></div>
              
              <div class="flex items-center justify-start">
                   <a class="noir2-div relative" href="/portfolio">
                      <img src="/images/clients/x5.svg" width="56" height="56">
                      <img src="/images/clients/x54.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="56" height="56">
                      <img src="/images/clients/x52.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="56" height="56">
              </a></div>
              
              <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund]"><a href="/portfolio">+200 компаний<br/>за 13 лет работы</a></h2>
              
           </div> 
     </div> 
  
  </div> 
  
  <div class="max-w-7xl mx-auto px-4 sm:px-6 mb-6 gap-2">
    <h2 class="text-4xl leading-none font-heading dark:text-[--aw-color-text-light-default] mb-4 mt-8">Экспертиза</h3>
      <RelatedPages 
        pages={[{collection: 'promo', page: 'ux-research'}, {collection: 'post', page: 'before-interface-testing'}, {collection: 'post', page: 'professional-testing'}, {collection: 'post', page: 'ux-audit-by-principles'}, {collection: 'post', page: 'user-testing-online'}, {collection: 'post', page: 'context'}, {collection: 'post', page: 'interview-method-for-development'}, {collection: 'post', page: 'qualitative-methods-in-ux-studies'}]}
        hideFields={{ tags: true, year: true }}
        styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
      />
            
     </div> 
    </div>
  
</Layout>
