---

import { findImage } from '~/utils/images';

import Image from '~/components/common/Image.astro';
import { Markdown } from '@astropub/md';

import BestProjects from './BestProjects.astro';

const { person } = Astro.props;
const image = await findImage(person.image);

---

<li class="flex flex-row col-span-2 gap-4  bg-[#E7EAEA] py-8 px-6 rounded-lg">
  <div class="flex flex-row">
    <Image
      src={image}
      class="rounded"
      layout={"constrained-both"}
      width={100}
      alt={`Собака Павлова • Выпускники • ${person.name}`}
      loading="lazy"
      decoding="async"
    />
    <div class="grow-1">
      
    </div>
  </div>
  <div class="flex flex-col format-graduates-markdown">
    <h3 class="text-xl sm:text-3xl leading-tight mb-4 font-heading">
      {person.name}
    </h3>
    <div>
      <Markdown.Inline of={person.excerpt} />
    </div>
    <div>
      <Markdown.Inline of={person.context} />      
    </div>
    <BestProjects person={person} />
  </div>
</li>
