---
import { Icon } from 'astro-icon/components';
import PostTags from '~/components/blog/Tags.astro';

import CommonCard from '~/components/common/CommonCard.astro';

import { APP_BLOG } from 'astrowind:config';

import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate, minuteCase } from '~/utils/utils';

const { post } = Astro.props;
---

<CommonCard 
  image={post.thumbnail || post.image} 
  link={APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink, 'post') : ''} 
  title={post.title}
  text={post.description || post.excerpt}
>
  <Fragment slot="supertitle">
    <time datetime={String(post.publishDate)} class="inline-block">
      {getFormattedDate(post.publishDate)}
    </time>
    {
      post.readingTime && (
        <>
          &nbsp;· <span>{post.readingTime}</span> {minuteCase(post.readingTime)} на чтение
        </>
      )
    }
    {
      post.category && (
        <>
          {' '}
          ·{' '}
          <a class="hover:underline" href={getPermalink(post.category.slug, 'category')}>
            {post.category.title}
          </a>
        </>
      )
    }
  </Fragment>  
  
  <Fragment slot="footer">
    {post.tags && (
      <footer class="mt-5">
        <PostTags tags={post.tags} />
      </footer> 
    )}
  </Fragment>
  
</CommonCard>
