---

const {
  id,
  label,
  type = 'checkbox',
  group,
  className = []
} = Astro.props;

const aClassName = className + ' hidden';

---

<astro-checkbox class="inline-block">
  <input
    id={id}
    name={type == 'radio' ? (group || id) : id}
    type={type}
    class={aClassName}
    />
  <label for={id} class="bg-[--aw-color-bg-page] inline-flex items-center px-4 py-[9px] hover:cursor-pointer">
    <span class="color-[#C4C4C4] hover:text-[--aw-color-hund]">
      {label}
    </span>
  </label>
</astro-checkbox>
