---
import Image from '~/components/common/Image.astro';
import { Markdown } from '@astropub/md';
import merge from 'lodash.merge';
import { twMerge } from 'tailwind-merge';

const {
  image, 
  imageSafari,
  imagePosition,
  alt, 
  link, 
  supertitle = await Astro.slots.render('supertitle'),
  title, 
  text,
  textblock = await Astro.slots.render('textblock'),  
  footer = await Astro.slots.render('footer'),
  noCard = false,
  awards,
  isNew,
  classes = {}
} = Astro.props;

const myClasses = merge({ main: 'blog-list-item', title: '', text: '', textBlock: 'mt-4 w-72', }, classes);
  
---
<article class={twMerge('flex flex-wrap mb-6 relative flex-col', myClasses.main)}>
  {
    image && (
      <a href={link ?? 'javascript:void(0)'}>
        <div class="relative overflow-hidden rounded image-animate">
          <div class="w-72 h-72">
            {image && (imageSafari ? (
              <Fragment>
                <Image
                  src={image}
                  class="rounded no-safari"
                  layout={noCard ? "constrained-width" : "constrained-both"}
                  width={288}
                  alt={alt ?? title}
                  objectPosition={imagePosition}
                  loading="lazy"
                  decoding="async"
                />
                <Image
                  src={imageSafari}
                  class="rounded safari-only"
                  layout={noCard ? "constrained-width" : "constrained-both"}
                  width={288}
                  alt={alt ?? title}
                  objectPosition={imagePosition}
                  loading="lazy"
                  decoding="async"
                />
              </Fragment>
            ) : (
              <Image
                src={image}
                class="rounded"
                layout={noCard ? "constrained-width" : "constrained-both"}
                width={288}
                alt={alt ?? title}
                objectPosition={imagePosition}
                loading="lazy"
                decoding="async"
              />
            ))}
          </div>
        </div>
      </a>
    )
  }
  {awards && awards.length && (
    <div class="absolute mb-[-44px] top-[240px] right-[40px] z-[1]">
       <div class="flex flex-row justify-end">
        {awards.map((award) => (
           <div class="w-20 h-20 z-[4] mr-[-40px]"><Markdown.Inline of={award} /></div>
        ))}
       </div>        
    </div>
  )}
  
  <div class={myClasses.textBlock}>
    <header>
      {supertitle && (
        <div class="mb-1 hover:text-[--aw-color-accent]">
          <span class="text-sm" set:html={supertitle} />
        </div>
      )}
       
      <span>     
      <h2 class:list={["text-xl sm:text-3xl leading-tight mb-1 dark:text-slate-300 font-heading underline underline-offset-2 z-[2]", myClasses.title]}>
        {link ? (
          <a href={link}>
            <Markdown.Inline of={title} />
          </a>
        ) : (
          <Markdown.Inline of={title} />
        )}
        {isNew && (
             <span class="text-xl sm:text-3xl leading-tight font-heading text-[--aw-color-hund]">New</span>
        )}
      </h2>
      
      </span>
    </header>

    {
      link ? (
        <a href={link}>
          {text && (
            <p class:list={["flex-grow dark:text-slate-400 format-subtitle-markdown", myClasses.text]}>
              <Markdown.Inline of={text} />
            </p>
          )}
          
          {textblock && (
            <div set:html={textblock} />
          )}
        </a>
      ) : text
    }

    {footer && (
      <div class="mt-2">
        <span set:html={footer} />
      </div> 
    )}
  </div>
</article>
